.group {
  @include media-breakpoint-down(sm) {
    margin-bottom: 6.4rem;
  }

  font-size:1.6rem;
  margin: 3em 0 9.6rem;

  h2 {
    @include media-breakpoint-down(sm) {
      margin-bottom: 1.6rem;
    }

    margin-bottom: 3.2rem;
    text-transform: capitalize;
  }

  .topic {
    margin-bottom: 2.4rem;
  }
}

  .container {
    width: auto;

    .search-input {
      display: inline-block;
      width: 100px !important;
    }
  }

.alphabet {
  font-size:1.5rem;
  color: rgba(0 0 0 / 20%);
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  margin: 1.5em -3% 0 0;

  li {
    min-width: 1.5em;
    margin-right: 3%;
    color: rgb(0 0 0 / 30%);
  }

  a {
    border: none;
  }
}

.articlesCounter {
  font-size:1.2rem;
  margin-left: 0.5em;
  vertical-align: super;
}

.viewSwitcher {
  @include media-breakpoint-down(sm) {
    overflow-x: auto;
  }

  margin-bottom: 2rem;
  width: 100%;
}


.AuthorsList {
  .action {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 8rem;
  }

  .loading {
    font-size:1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    flex-direction: row;
    opacity: 0.5;

    .icon {
      position: relative;
      width: 18px;
      height: 18px;
    }
  }
}
