.group {
  @include media-breakpoint-down(sm) {
    margin-bottom: 6.4rem;
  }

  font-size:1.6rem;
  margin: 3em 0 9.6rem;

  h2 {
    @include media-breakpoint-down(sm) {
      margin-bottom: 1.6rem;
    }

    margin-bottom: 3.2rem;
    text-transform: capitalize;
  }
}

.topicTitle {
  margin-bottom: 2.4rem;
}

.container {
  width: auto;

  .search-input {
    display: inline-block;
    width: 100px !important;
  }
}

.alphabet {
  font-size:1.5rem;
  color: rgba(0 0 0 / 20%);
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  margin: 1.5em -3% 0 0;

  li {
    min-width: 1.5em;
    margin-right: 3%;
    color: rgb(0 0 0 / 30%);
  }

  a {
    border: none;
  }
}

.articlesCounter {
  font-size:1.2rem;
  margin-left: 0.5em;
  vertical-align: super;
}

.viewSwitcher {
  margin-bottom: 2rem;
}
