:global(.main-content) {
  position: static;
}

.formHolder {
  padding: 0 4rem;
}

.container {
  position: relative;

  .headingActions {
    font-size:1.2rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: var(--blue-link);

    .action {
      cursor: pointer;
    }
  }

  .titleInput,
  .subtitleInput,
  .leadInput {
    font-size: 36px;
    line-height: 1.1;
    margin-bottom: 1.2rem;

    &::placeholder {
      opacity: 0.3;
      color: #000;
    }
  }

  .leadInput {
    font-size: unset;
  }

  .titleInput {
    font-weight: 700;
  }

  .additional {
    margin-top: auto;

    .additionalInput {
      font-size:1.4rem;
      appearance: textfield;
      font-weight: 600;
      padding: 0;
      margin: 14px 0 0;
      width: 100%;
      border: none;
      outline: none;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
      }

      &::placeholder {
        color: var(--secondary-color);
      }
    }
  }
}

.asidePanel {
  background: #1f1f1f;
  color: rgb(255 255 255 / 35%);
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  justify-content: flex-start;
  height: 100%;
  line-height: 1.4;
  padding: $grid-gutter-width;
  position: fixed;
  transition: transform 0.3s;
  right: 0;
  top: 0;
  z-index: 10;

  .close {
        // filter: invert(1);
        fill: var(--icon-color-invert);
        color: var(--icon-color);
    margin: -1.6rem 0 0 -2.8rem;
  }

  section {
    border-bottom: 2px solid rgb(255 255 255 / 10%);

    // margin-bottom: 1.8rem;
    margin-top: 1.8rem;
    padding-bottom: 1.8rem;

    p {
      margin: 0.6em 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .button {
    font-weight: normal;
    margin-left: -1.6rem;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  a {
    color: rgb(255 255 255 / 35%);
    font-weight: normal !important;

    &:hover {
      background: none;
      color: #fff;
    }
  }
}

.scrollTopButton {
  @include media-breakpoint-down(md) {
    display: none;
  }

  @include media-breakpoint-up(xl) {
    left: 0;
  }

  pointer-events: none;
  user-select: none;
  cursor: pointer;
  left: 0;
  position: sticky;
  top: calc(100vh - 40px);
  width: 2.8rem;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &.visible {
    opacity: 1;
    pointer-events: all;
  }

  &:hover {
    .icon {
      opacity: 1;
    }

    .scrollTopButtonLabel {
      display: block;
    }
  }

  .icon {
    opacity: 0.4;
  }
}

.scrollTopButtonLabel {
  font-size:1.4rem;
  display: none;
  font-weight: bold;
  left: 100%;
  padding-left: 0.5em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.inputContainer {
  position: relative;
  flex: 1;
  display: flex;
  flex-flow: column;

  .validationError {
    font-size: small;
    margin-top: -1rem;
    color: var(--danger-color);
  }
}

.audioHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;

  .inputContainer {
    flex: 1;
  }

  .cover {
    width: 228px;
    height: 228px;
    flex-basis: 228px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .delete {
      position: absolute;
      width: 32px;
      height: 32px;
      padding: 10px;
      border-radius: 50%;
      top: 4px;
      right: 4px;
      background-color: rgb(0 0 0 / 50%);
      cursor: pointer;
      display: none;
    }

    &:hover .delete {
      display: block;
    }
  }
}

.wrapperTableOfContents {
  position: fixed;
  top: 106px;
  width: 240px;
  padding-top: 100px;
}
