.settingsList {
  display: table;
  width: 100%;

  h2 {
    margin-top: 1em;
  }

  label {
    cursor: pointer;
  }

  input[type='checkbox'] {
    & + label {
      padding: 0;

      &::before {
        background: var(--icon-checkbox-big) no-repeat;
        content: '';
        display: inline-block;
        height: 2.8rem;
        position: static;
        width: 2.8rem;
        vertical-align: bottom;
      }
    }

    &:checked + label {
      &::before {
        background-image: var(--icon-checkbox-checked-big);
      }
    }

    &.notifications-checkbox {
      & + label {
        &::before {
          background: var(--icon-checkbox-notifications) no-repeat;
        }
      }

      &:checked + label {
        &::before {
          background-image: var(--icon-checkbox-notifications-checked);
        }
      }
    }
  }
}
