.settingsList {
  display: table;
  width: 100%;

  h2 {
    margin-top: 1em;
  }

  label {
    cursor: pointer;
  }

  input[type='checkbox'] {
    & + label {
      padding: 0;

      &::before {
        background: url('/icons/checkbox-big.svg') no-repeat;
        content: '';
        display: inline-block;
        height: 2.8rem;
        position: static;
        width: 2.8rem;
        vertical-align: bottom;
      }
    }

    &:checked + label {
      &::before {
        background-image: url('/icons/checkbox-checked-big.svg');
      }
    }

    &.notifications-checkbox {
      & + label {
        &::before {
          background: url('/icons/checkbox-notifications.svg') no-repeat;
        }
      }

      &:checked + label {
        &::before {
          background-image: url('/icons/checkbox-notifications-checked.svg');
        }
      }
    }
  }
}
