@use 'sass:math';

:global(.main-content) {
  position: static;
}

.articlePreview {
  border: 2px solid #e8e8e8;
  min-height: 10em;
  padding: 1rem 1.2rem;
}

.formHolder {
  padding: 0 4rem;
}

.saveBlock {
  @include media-breakpoint-up(md) {
    padding: 3.2rem 8rem;
  }

  background: #f1f1f1;
  line-height: 1.4;
  margin-top: 6.4rem;
  padding: 1.6rem 3.2rem;
  text-align: center;

  .button {
    margin: 0 math.div($container-padding-x, 2);
  }
}

.container {
  .titleInput,
  .subtitleInput {
    border: 0;
    outline: 0;
    padding: 0;
    font-size: 36px;

    &::placeholder {
      opacity: 0.3;
      color: #000;
    }
  }

  .titleInput {
    font-weight: 700;
  }
}

.createSettings,
.create {
  display: none;

  &.visible {
    display: block;
  }
}
