h4,
h5 {
  font-weight: 500;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size:1.7rem;
  margin: 0 0 0.8rem;
}

.multipleControls {
  margin-top: 3rem;
}

.error {
  font-size: 1.6rem;
  text-align: center;
  color: var(--danger-color);
  margin-top: 1.6rem;
}

.multipleControlsItem {
  position: relative;

  button {
    background-color: #fff;
    padding: 0.5em;
    position: absolute;
    right: 0.8em;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s;

    &:hover {
      background-color: #000;

      .icon {
        // filter: invert(1);
        fill: var(--icon-color-invert);
        color: var(--icon-color);
      }
    }

    .icon {
      filter: none;
      transition: filter 0.3s;
    }
  }

  form & input {
    padding-right: 5rem;
  }
}

.multipleControlsHeader {
  display: flex;
  margin-bottom: 0.5em;

  h4 {
    flex: 1;
    margin-bottom: 0;
  }

  button {
    margin-left: 1em;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
}

.discoursName {
  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;

    input {
      min-width: 250px;
    }
  }

  display: flex;

  label {
    margin: 0.6em 0.5em 0 0;
  }
}

.discoursNameField {
  flex: 1;
}

.leftNavigation {
  top: 9rem !important;

  h4:first-child {
    margin-top: 0;
  }
}

.searchContainer {
  margin-top: 2.4rem;
}

.searchField {
  margin-bottom: 2rem;

  label:first-child {
    opacity: 0.5;
    position: absolute;
    right: 12px;
    transform: translateY(-50%);
    top: 50%;
  }
}

.topicsList {
  label {
    font-size:1.7rem;
  }
}

.topicsListItem {
  padding-right: 1.5rem !important;
}

.socialButton {
  color: #000;
  display: flex;
  padding: 0.8em 1em;
  transition:
    background-color 0.3s,
    color 0.3s;

  &:hover {
    background: #000;
    color: #fff;
  }

  img {
    vertical-align: middle;
  }

  .icon {
    margin-right: 1em;
  }
}

.socialButtonApple {
  &:hover {
    .icon {
        // filter: invert(1);
        fill: var(--icon-color-invert);
        color: var(--icon-color);
    }
  }

  .icon {
    filter: none;
    transition: filter 0.3s;
  }
}

:global(.solid-select-control) {
  align-items: center !important;
  border: 2px solid #e8e8e8 !important;
  border-radius: 2px;
  min-height: 61px;
  padding: 1rem 0.7rem 0.5rem 1.2rem !important;

  :global(.solid-select-input) {
    border: none;
    margin-bottom: 0;
    padding: 0;
  }

  :global(.solid-select-multi-value) {
    background: none;
    margin: 0 0.5rem 0.5rem 0;
    overflow: hidden;
    padding-left: 0.8rem;
    padding-bottom: 0.2rem;
    position: relative;

    &::before {
      background: rgb(243 244 246);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }

  :global(.solid-select-multi-value-remove) {
    font-size: 2.4rem;
    line-height: 1.1;

    &:hover {
      opacity: 0.5;
      text-shadow: none !important;
    }
  }
}

.userpic {
  font-size:1.2rem;
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  color: var(--black-300);
  border: 1px solid var(--black-100);
  cursor: pointer;

  .userpicImage {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-position: center;
    background-size: contain;
  }

  &.hasControls {
    overflow: visible;
  }

  .controls {
    position: absolute;
    right: -50px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .control {
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    background: var(--background-color);
    border: 1px solid var(--black-100);

    img {
      border-radius: unset;
    }

    &:hover {
      background: var(--background-color-invert);

      img {
        // filter: invert(1);
        fill: var(--icon-color-invert);
        color: var(--icon-color);
      }
    }
  }
}

.socialInput {
  margin-top: 1rem;
}

.formActions {
  background: var(--background-color);
  position: sticky;
  z-index: 12;
  bottom: 0;
  border-top: 2px solid var(--black-100);
  margin-bottom: -40px;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem 0;
    gap: 1rem;
  }

  .cancel {
    color: #d00820;
    padding: 0.8rem 0 !important;
  }

  .cancelLabel {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  .cancelLabelMobile {
    @include media-breakpoint-down(sm) {
      display: block;
    }

    display: none;
  }

  :global(.row) > * {
    margin-bottom: 0;
  }
}

// disable last pass extention

div[data-lastpass-icon-root="true"] {
  opacity: 0 !important;
}

div[data-lastpass-infield="true"] {
  opacity: 0 !important;
}


.emailValidationError {
  position: absolute;
  top: 100%;
  font-size: 12px;
  line-height: 16px;
  margin-top: 0.3em;
  color: var(--danger-color);
}
