@use 'sass:math';

.search-form {
  @include media-breakpoint-down(sm) {
    margin-left: math.div(-$container-padding-x, 2);
    margin-right: math.div(-$container-padding-x, 2);
  }

  display: flex;
  margin-bottom: 2em;
  margin-top: 2em;

  input,
  button {
    display: block;
    width: 100%;
  }

  input {
    font-size:4rem;
    border: none;
    border-bottom: 1px solid #ccc;
    height: 100%;
  }

  button {
    font-size:2rem;
    line-height: 4rem;
  }
}

.search__show-more {
  border: 3px solid !important;
  display: block;
  padding-bottom: 56.2%;
  position: relative;
  text-align: center;
}

.search__show-more-inner {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
