.topicPage {
  .groupControls {
    align-items: baseline;
    margin-bottom: 4rem;
    margin-top: 0;
  }

  .floorImportant {
    a:hover {
      background: #fff;
      color: #000 !important;
    }
  }

  .container {
    padding-left: $container-padding-x;
  }

  .floor {
    padding-left: 0;
    padding-right: 0;
  }

  .modeSwitcher {
    @include media-breakpoint-up(md) {
      text-align: right;
    }

    font-size:1.5rem;
  }

  .modeSwitcherControl {
    border-bottom: 1px dotted;
    cursor: pointer;
    font-weight: bold;
  }
}
