.UserSearch {
  .searchHeader {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    gap: 1rem;
  }

  .field {
    border-bottom: 2px solid var(--background-color-invert);
    display: flex;
    flex-flow: row nowrap;
    padding: 4px 0;
    align-items: center;
    width: 100%;
  }

  .input {
    @include font-size(1.5rem);

    border: none;
    padding: 0;
    margin: 0;
    flex: 1;

    &::placeholder {
      color: #404040;
    }

    &:focus {
      outline: none;
    }
  }

  .authors {
    height: 400px;
    overflow: auto;
    padding: 1rem 0;
  }

  .teaser {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
