.UserSearch {
  .searchHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    gap: 1rem;
  }

  .field {
    border-bottom: 2px solid var(--background-color-invert);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 4px 0;
    align-items: center;
    width: 100%;
  }

  .input {
    @include font-size(1.5rem);

    border: none;
    padding: 0;
    margin: 0;

    &::placeholder {
      color: #404040;
    }
    &:focus {
      outline: none;
    }
  }

  .authors {
    height: 400px;
    overflow: auto;
    padding: 1rem 0;
  }
}
