.backdrop {
  align-items: center;
  background: rgb(20 20 20 / 70%);
  display: flex;
  justify-content: center;
  height: 100%;
  left: 0;
  overflow: auto;
  pointer-events: all;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10002;
}

.modal {
  background: #fff;
  max-width: 1000px;
  position: relative;

  &:not([class*='col-']) {
    width: 100%;

    @include media-breakpoint-up(sm) {
      width: 80%;
    }
  }

  .close {
    position: absolute;
    top: 2rem;
    cursor: pointer;
    height: 1.6rem;
    width: 1.6rem;
    opacity: 1;
    padding: 0;
    right: 2.4rem;
    transition: opacity 0.3s;
    z-index: 1;

    @include media-breakpoint-up(sm) {
      right: 2rem;
    }

    &:hover {
      opacity: 0.5;
    }

    svg {
      display: block;
      pointer-events: none;
    }

    .icon {
      height: 100%;
      width: 100%;
    }
  }

  &.narrow {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    @include media-breakpoint-up(sm) {
      max-width: 460px;
    }

    @include media-breakpoint-up(md) {
      width: 50%;
    }

    .close {
      right: 1.6rem;
      top: 1.6rem;
    }
  }
}

.modalInner {
  height: 100%;
  overflow: auto;
  padding: 5.4rem 2.4rem 2.4rem;
  position: relative;
  text-align: left;

  @include media-breakpoint-up(sm) {
    padding: 5rem;
  }
}

.noPadding {
  background: none;
  left: 50%;
  padding: 0;
  transform: translateX(-50%);

  .modalInner {
    padding: 0 2rem;
  }

  .close {
    right: 2rem;
    top: 2rem;
  }
}

.maxHeight {
  display: flex;
  flex-direction: column;
  height: 90vh;
}
