.backdrop {
  align-items: center;
  background: rgb(20 20 20 / 70%);
  display: flex;
  justify-content: center;
  height: 100%;
  left: 0;
  overflow: auto;
  pointer-events: all;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11000;
}

.modal {
  background: #fff;
  max-width: 1000px;
  padding: 5.4rem 2.4rem 2.4rem;
  position: relative;
  width: 100%;

  @include media-breakpoint-up(sm) {
    padding: 4.2rem;
    width: 80%;
  }

  .close {
    position: absolute;
    top: 1.6rem;
    cursor: pointer;
    height: 18px;
    width: 16px;
    opacity: 1;
    padding: 0;
    right: 1.6rem;
    transition: opacity 0.3s;
    z-index: 1;

    svg {
      display: block;
      pointer-events: none;
    }

    &:hover {
      background: #000;

      .icon {
        filter: invert(1);
      }
    }

    .icon {
      height: 100%;
      width: 100%;
    }
  }

  &.narrow {
    max-width: 460px;
    width: 50%;

    @media (width >= 800px) and (width <= 991px) {
      width: 80%;
    }

    .close {
      right: 12px;
      top: 12px;
    }
  }
}

.noPadding {
  padding: 0 2rem;
}
