.icon {
  line-height: 1;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.notificationsCounter {
  @include media-breakpoint-up(md) {
    left: 1.8rem;
  }

  align-items: center;
  background-color: #E84500;
  border-radius: 0.8rem;
  color: #fff;
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  height: 2.2rem;
  justify-content: center;
  left: 1.6rem;
  min-width: 2.2rem;
  padding: 0 0.25em;
  position: absolute;
  text-align: center;
  top: -0.5rem;
}
