.EmptyMessage {
  // TODO: check markup
  color: var(--black-500);
  text-align: center;
  font-size: 15px;
  line-height: 24px;
  white-space: pre-line;
  padding: 4rem 0;
}

.title {
  font-weight: 500;
}
