.besideColumn {
  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }

  counter-reset: item;
  list-style-type: none;
  padding-left: 0;

  a {
    border: none;
  }

  li {
    margin-bottom: 1.6rem;

    &:last-child {
      margin-bottom: 0;
    }

    &.top {
      background-color: transparent;
      border-bottom: 1px solid #e1e1e1;
      display: flex;
      justify-content: space-between;
      line-height: 1;
      margin: 0;
      padding: 1.5rem 0;
      position: relative;
      transition: background-color 0.2s;

      &:last-child {
        border: none;
        margin-bottom: 0;

        .shoutCardContent {
          margin-bottom: 0;
        }
      }

      &:hover {
        background: #000;

        &::after {
          color: #fff;
        }

        a:link,
        a:visited {
          &,
          * {
            color: #fff !important;
          }
        }
      }

      &::after {
        content: counter(item, upper-roman);
        counter-increment: item;
        flex: 0 1.4em;
        font-size: 1.4em;
        font-weight: 900;
        line-height: 1;
        min-width: 1.4em;
        padding-left: 0.3em;
        text-align: center;
        transition: color 0.2s;
      }

      a:link {
        &:hover {
          background: none;
        }
      }
    }
  }

  .top-viewed__topic {
    font-size: 1.2rem;
    letter-spacing: 0.08em;
    margin-bottom: 0.4rem;
    text-transform: uppercase;
  }
}

.besideColumnTopViewed {
  margin-top: 0;

  li.top {
    margin-left: -0.3em;
    padding-left: 0.3em;
  }
}

.besideColumnTitle {
  align-items: baseline;
  justify-content: space-between;
  display: flex;
  line-height: 1.1;

  .icon {
    display: inline-block;
    height: 1em;
    vertical-align: middle;
    width: 1em;
  }

  a:link {
    font-size:1.4rem;
    border: none;
    font-weight: bold;
    padding-right: 0.3em;
    white-space: nowrap;

    img {
      margin-left: 0.8rem;
    }

    &:hover {
      img {
        // filter: invert(1);
        fill: var(--icon-color-invert);
        color: var(--icon-color);
      }
    }
  }

  h4 {
    font-size:2.6rem;
    font-weight: bold;
    padding-right: 1em;
  }
}

.author {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 1.6rem;

  li:last-child & {
    border-bottom: none;
  }

  button {
    @include media-breakpoint-between(md, lg) {
      margin-top: 0.8rem;
    }
  }
}

.besideColumnTopic {
  font-size: 1.2rem;
  letter-spacing: 0.08em;
  margin-bottom: 0.4rem;
  text-transform: uppercase;
}

.besideColumnShout {
  font-size: 1.4rem;

  h4 {
    display: inline;
    font-size: 1.4rem;
  }
}

button.follow {
  max-width: 2em;
  max-height: 2em;
}

.shoutCardContainer {
  order: 1;
}

.besideRatingColumnAuthor {
  order: 2;
}
