.shoutTopic {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.08em;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
  transition: background-color 0.2s;

  a:link,
  a:visited {
    background: transparent;
    border: none;
    color: $color-primary;

    &:hover {
      background: $color-primary;
      color: #fff !important;
    }
  }
}

.shoutTopicFloorImportant {
  a:link,
  a:visited {
    color: #fff;

    &:hover {
      background: #fff !important;
      color: #000 !important;
    }
  }
}

.shoutTopicFeedMode {
  font-size: 1.2rem;

  a {
    position: relative;
    z-index: 2;
  }
}
