.shoutTopic {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.08em;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
  transition: background-color 0.2s;

  a:link {
    background: transparent;
    border: none;
    color: $link-color;
    position: relative;
    z-index: 2;

    &:hover {
      background: $link-color;
      color: #fff !important;
    }
  }
}

.shoutTopicFloorImportant {
  a {
    color: rgb(255 255 255 / 50%);
  }
}
