.feedArticlePopup {
  box-shadow: none !important;
  border: 1px solid rgb(0 0 0 / 0.15);
  border-radius: 1.6rem;
  padding: 1.6rem !important;

  @include media-breakpoint-between(sm, md) {
    left: auto !important;
    right: 0;
    transform: none !important;
  }

  button {
    color: #696969;

    &:hover {
      background: #000;
      color: #fff;
    }
  }
}
