.richEditor {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--background-color);
  border: 1px solid var(--black-100);
  border-radius: 8px;
  
  &.focused {
    border-color: var(--black-300);
    box-shadow: 0 2px 8px rgb(0 0 0 / 5%);
  }
  
  &.readOnly {
    border: none;
    background: none;
  }

  &.dragover {
    border-color: var(--primary-color);
    background-color: var(--background-hover);
  }

  .autosaveNotice {
    position: absolute;
    top: -30px;
    right: 0;
    font-size: 1.4rem;
    color: var(--black-600);
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.2s, transform 0.2s;

    &:global(.visible) {
        opacity: 1;
        transform: translateY(0);
    }
  }
}


.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  border-top: 1px solid var(--black-100);
  background: var(--black-50);
  border-radius: 0 0 8px 8px;
}

.counter {
  color: var(--black-600);
  font-size: 1.4rem;
}

.actions {
  display: flex;
  gap: 12px;
}