.confirmModal {
  position: relative;

  .confirmModalTitle {
    @include font-size(3.2rem);
    font-weight: 700;
    color: var(--default-color);
    text-align: center;

    @include media-breakpoint-up(sm) {
      margin: 0 10%;
    }
  }

  .confirmModalActions {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    gap: 0.5rem;

    .confirmAction {
      flex: 1;
    }
  }
}
