.confirmModal {
  position: relative;

  .confirmModalTitle {
    @include font-size(2rem);

    font-weight: 700;
    color: var(--default-color);
    text-align: center;
  }

  .confirmModalActions {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    gap: 2rem;

    .confirmAction {
      flex: 1;
    }
  }
}
