.discoursFooter {
  font-size:1.7rem;
  background: #000;
  color: rgb(255 255 255 / 64%);
  padding: 2.4rem 0 4.2rem;

  a {
    border: none;
    color: #fff;
  }

  h5 {
    color: #fff;
    margin-bottom: 1.2rem;
  }

  ul {
    list-style: none;
    margin: 0 0 6.4rem;
    padding: 0;

    a {
      color: rgb(255 255 255 / 64%);
      transition:
        color 0.3s,
        background-color 0.3s;

      &:hover {
        background: #fff;
        color: #000;
      }
    }
  }

  li {
    margin-top: 0.8rem;
  }

  ::selection {
    background: #fff;
    color: #000;
  }
}

.discoursFooterContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: $grid-gutter-width;
}

.footerCopyright {
  font-size:1.5rem;
  border-top: 5px solid #404040;
  color: #696969;
  padding-top: 1.6rem;

  a {
    color: rgb(255 255 255 / 70%);

    &:hover {
      background: #fff;
      color: #000;
    }
  }
}

.footerCopyrightSocial {
  align-items: center;
  display: flex;

  .icon {
    opacity: 0.5;
    transition: 0.3s;

    &:hover {
      opacity: 1;
    }
  }

  img {
    max-height: 20px;
    max-width: 20px;
    vertical-align: middle;
  }
}

.socialItem {
  @include media-breakpoint-up(md) {
    margin-top: 0;
    margin-left: 0.3em;
    text-align: right;
  }

  margin-top: 1em;
  text-align: center;
  width: 25%;

  a:link {
    border: none;
    padding-bottom: 0;
  }

  img {
    margin: 0 auto;
  }
}

.socialItemvk {
  img {
    max-width: 25px;
  }
}
