.about-discours {
  @include font-size(1.7rem);

  background: #000;
  color: #fff;
  font-weight: 400;
  margin-bottom: 6.4rem;
  padding: 3.6rem 0;
  text-align: center;

  h4 {
    margin-bottom: 4rem;
  }

  em {
    font-weight: inherit;
  }

  ::selection {
    background: #fff;
    color: #000;
  }
}

.about-discours__actions {
  margin-top: 4.8rem;

  .button {
    border: 3px solid;
    border-radius: 1.2em;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 0.8rem;
    margin-bottom: 0.8em;
    transition: all 0.2s;

    &:hover {
      background: #fff;
      border-color: #fff;
      color: #000;
    }
  }
}
