.aboutDiscours {
  font-size:1.6rem;
  background: #fef2f2;
  font-weight: 500;
  margin-bottom: 6.4rem;
  padding: 8rem 0 6.4rem;
  text-align: center;

  h4 {
    font-size:4rem;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 2rem;
  }

  em {
    font-weight: inherit;
  }
}

.aboutDiscoursActions {
  margin-top: 4.8rem;

  :global(.button) {
    border: 3px solid #000;
    border-radius: 0.8rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 0.8rem;
    margin-bottom: 0.8em;
    padding-bottom: 0.6rem;
    transition: all 0.2s;

    &:hover {
      background: #fff;
      color: #000;
    }
  }
}
