.subscribeForm {
  display: flex;
  width: 100%;

  @include media-breakpoint-down(md) {
    margin-bottom: 2.4rem;
  }

  @include media-breakpoint-between(md, xl) {
    flex-direction: column;
  }

  input {
    background: none;
    border: none;
    border-bottom: 1px solid;
    color: #fff;
    font-family: inherit;
    @include font-size(2rem);

    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.2em 0.5em 0.3em 0;
    width: 100%;

    &::placeholder {
      color: #fff;
    }
  }

  a {
    align-items: center;
    background: #fff;
    border: none;
    color: #000;
    display: flex;
    @include font-size(1.5rem);

    padding: 0 0.5em;
  }

  .button {
    border-radius: 0;
    margin: 0;
  }
}
