@mixin input-placeholder-overflow($direction: 'down') {
  @if $direction == 'down' {
    @media (width <= 1410px) {
      @content;
    }
  } @else if $direction == 'up' {
    @media (width > 1410px) {
      @content;
    }
  } @else {
    @error "Unknown direction #{$direction}.";
  }
}

.form {
  display: flex;
  flex-direction: column;

  @include input-placeholder-overflow(down) {
    margin-bottom: 2.4rem;
  }
}

.controls {
  display: flex;
  width: 100%;

  @include input-placeholder-overflow(down) {
    flex-direction: column;
  }

  .input {
    @include font-size(2rem);

    background: none;
    color: #fff;
    font-family: inherit;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.2em 0.5em;
    width: 100%;
    outline: none;
    border: 1px solid #fff;
    border-radius: 0;
    height: 4rem;

    @include input-placeholder-overflow(up) {
      border-right: none;
    }

    @include input-placeholder-overflow(down) {
      border-bottom: none;
    }

    &::placeholder {
      color: #858585;
    }
  }

  .button {
    border-radius: 0;
    flex-shrink: 0;

    @include input-placeholder-overflow(down) {
      width: 100%;
    }
  }
}

.error {
  position: relative;
  top: 4px;
  font-size: 12px;
  line-height: 16px;
  color: #d00820;
}
