.CreateModalContent {
  .footer {
    padding-top: 12px;
    display: flex;
    justify-content: space-around;
    gap: 12px;
  }

  .chatTitleInput {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: 0.3rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:focus {
      border-color: #80bdff;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
    }
  }
}
