.InviteUser {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  padding: 12px;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: rgba(#f7f7f7, 0.65);
  }

  .name {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    font-size: 14px;
  }

  .action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background: #f7f7f7;
    border-radius: 6px;
  }
}
