.devcontainer
.pnpm-store
dist/
node_modules/
npm-debug.log*
pnpm-debug.log*
.env
.env.production
.DS_Store
.vercel
.idea/
.eslint/.eslintcache
public/upload/*
src/graphql/introspec.gen.ts
src/graphql/schema/*.gen.ts
stats.html
*.scss.d.ts
pnpm-lock.yaml
bun.lockb
.jj
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/plawright-report/
target
.github/dependabot.yml
.output
.vinxi
*.pem
edge.*
.vscode/settings.json
storybook-static
app.config.*.js