dist/
node_modules/
npm-debug.log*
pnpm-debug.log*
.vscode
.env
.env.production
.DS_Store
.vercel
.idea/
.eslint/.eslintcache
public/upload/*
src/graphql/introspec.gen.ts
src/graphql/schema/*.gen.ts
stats.html
*.scss.d.ts
pnpm-lock.yaml
bun.lockb
.jj
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
