.error {
  width: 100%;
  overflow: y-auto;
  padding: 50px;
  display: flex;
  font-family: 'JetBrains Mono';
  justify-content: center;
  ::-webkit-scrollbar {
    display: none;
  }
}

.error .container {
  max-width: 800px;
  width: 100%;
  height: fit-content;
}

.error pre {
  background: var(--foreground) 19;
  border: 1px solid var(--foreground);
  white-space: pre-wrap;
  word-wrap: break-word;
  border-radius: 2px;
  padding: 10px;
}
