:global(.main-content) {
  position: static;
}

.articlePreview {
  border: 2px solid #e8e8e8;
  padding: 1rem 1.2rem;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  align-items: flex-start;
  box-sizing: border-box;

  .shoutCardCoverContainer {
    position: relative;
    width: 100%;

    .shoutCardCover {
      height: 0;
      overflow: hidden;
      position: relative;
      margin: 1.6rem 0;
      padding-bottom: 56.2%;

      img {
        height: 100%;
        object-fit: cover;
        position: absolute;
        transform-origin: 50% 50%;
        transition: transform 1s ease-in-out;
        width: 100%;
      }

      &:hover img {
        transform: scale(1.1);
      }
    }
  }

  .shoutCardTitle {
    @include font-size(2.2rem);

    font-weight: 700;
    line-height: 1.25;
    margin: auto 0 0.8rem;
  }

  .shoutCardSubtitle {
    @include font-size(1.7rem);

    color: #696969;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 0.8rem;
    transition: color 0.2s, background-color 0.2s, box-shadow 0.2s;
  }

  .shoutAuthor {
    @include font-size(1.2rem);

    margin-right: 1.6rem;
    color: rgb(0 0 0 / 70%);
  }
}

.formHolder {
  padding: 0 4rem;
}

.container {
  position: relative;

  .titleInput,
  .subtitleInput {
    border: 0;
    outline: 0;
    padding: 0;
    font-size: 36px;

    &::placeholder {
      opacity: 0.3;
      color: #000;
    }
  }

  .titleInput {
    font-weight: 700;
  }
}

.editSettings,
.edit {
  display: none;

  &.visible {
    display: block;
  }
}

.asidePanel {
  background: #1f1f1f;
  color: rgb(255 255 255 / 35%);
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  justify-content: flex-start;
  height: 100%;
  line-height: 1.4;
  padding: $grid-gutter-width;
  position: fixed;
  transition: transform 0.3s;
  right: 0;
  top: 0;
  z-index: 10;

  .close {
    filter: invert(1);
    margin: -1.6rem 0 0 -2.8rem;
  }

  section {
    border-bottom: 2px solid rgb(255 255 255 / 10%);

    // margin-bottom: 1.8rem;
    margin-top: 1.8rem;
    padding-bottom: 1.8rem;

    p {
      margin: 0.6em 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .button {
    font-weight: normal;
    margin-left: -1.6rem;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  a {
    color: rgb(255 255 255 / 35%);
    font-weight: normal !important;

    &:hover {
      background: none;
      color: #fff;
    }
  }
}

.scrollTopButton {
  pointer-events: none;
  user-select: none;
  cursor: pointer;
  left: 2rem;
  position: sticky;
  top: calc(100vh - 40px);
  width: 2.8rem;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &.visible {
    opacity: 1;
    pointer-events: all;
  }

  @include media-breakpoint-down(md) {
    display: none;
  }

  @include media-breakpoint-up(xl) {
    left: 4rem;
  }

  &:hover {
    .icon {
      opacity: 1;
    }

    .scrollTopButtonLabel {
      display: block;
    }
  }

  .icon {
    opacity: 0.4;
  }
}

.scrollTopButtonLabel {
  @include font-size(1.4rem);

  display: none;
  font-weight: bold;
  left: 100%;
  padding-left: 0.5em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.inputContainer {
  position: relative;

  .validationError {
    position: absolute;
    top: 100%;
    font-size: small;
    color: #f00;
  }
}

.topicSelectContainer {
  height: 64px;
}
