.feedFilter {
  margin: 0 0 1.6rem;
}

.feedNavigation {
  @include font-size(1.6rem);
  font-weight: 500;

  h4 {
    margin-bottom: 0.8em;
  }

  ul,
  li {
    list-style: none;
    padding: 0;
  }

  ul {
    margin: 0 0 3rem;
  }

  li {
    margin: 0 0 1rem;
    white-space: nowrap;
    width: 100%;

    a {
      display: flex;
      justify-content: space-between;
    }
  }

  a {
    border: none;
  }
}

.feedAside {
  h4 {
    @include font-size(2.2rem);

    font-weight: bold;
    margin-bottom: 2.4rem;
    text-transform: lowercase;
  }
}

.asideSection {
  border: 1px solid #e9e9ee;
  margin-bottom: 0.8em;
  padding: 1em;
}

.topic {
  background: transparentize(#2638d9, 0.95);
  display: inline-block;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0.5em 0.5em 0;
  padding: 0.6em 1em;
  position: relative;
  vertical-align: middle;

  &:hover {
    background: #2638d9;
  }

  a:link {
    position: static;

    &::before {
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.pinnedLinks {
  .icon {
    height: 2.8rem;
    width: 2.8rem;
  }

  ul {
    @include font-size(1.4rem);

    font-weight: bold;
    margin: 1rem 0 0;
    line-height: 1.4;

    li {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  a {
    border: none;
  }
}

.comment {
  @include font-size(1.5rem);

  line-height: 1.4;
  margin-bottom: 2.4rem;

  &:last-child {
    margin-bottom: 0;
  }

  p {
    margin: 0;
  }
}

.commentBody {
  margin-bottom: 1.2rem;
  line-clamp: 3;
  -webkit-line-clamp: 3;
}

.commentArticleTitle {
  @include font-size(1.2rem);
  line-clamp: 1;
  -webkit-line-clamp: 1;
}

.commentAuthor {
  @include font-size(1.2rem);
}
