.ImagesUploader {
  display: block;

  .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 540px;

    .image {
      display: block;
      height: auto;
      margin: 0 auto;
      max-height: 64vh;
      width: auto;
      position: relative;
      z-index: 11;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 1em 0;

    .descriptionText {
      @include font-size(1.4rem);

      line-height: 1.1;
      font-weight: 500;
    }

    .input {
      @include font-size(1.4rem);

      padding: 0;
      margin: 0;
      border: none;
      height: 1.2em;
      &:focus {
        outline: none;
      }

      &::placeholder {
        color: var(--placeholder-color);
      }
    }
  }
}
