.ProseMirror {
    font-size: 1.6rem;
    outline: none;
    min-height: 300px;
  }
  
  .ProseMirror p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
    opacity: 0.3;
  }