.bubbleMenu {
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

  .bubbleMenuButton {
    opacity: 0.5;
    padding: 1rem;
  }

  .bubbleMenuButtonActive {
    opacity: 1;
  }

  .delimiter {
    background: #999;
    display: inline-block;
    height: 1.4em;
    margin: 0 0.2em;
    vertical-align: text-bottom;
    width: 1px;
  }

  .linkForm {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 6px 11px;

    input {
      margin: 0 12px 0 0;
      padding: 0;
      flex: 1;
      border: none;
      min-width: 200px;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: rgba(#000, 0.3);
      }
    }
  }

  .linkError {
    padding: 6px 11px;
    color: red;
    font-size: 0.7em;
  }
}
