.ProseMirror {
  outline: none;
  min-height: 300px;

  blockquote {
    @include font-size(1.6rem);

    border-left: 2px solid;
    margin: 1.5em 0;
    padding-left: 1.6em;
  }
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  opacity: 0.3;
}

/* Give a remote user a caret */
.collaboration-cursor__caret {
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

/* Render the username above the caret */
.collaboration-cursor__label {
  border-radius: 3px 3px 3px 0;
  color: #0d0d0d;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  left: -1px;
  line-height: normal;
  padding: 0.1rem 0.3rem;
  position: absolute;
  top: -1.4em;
  user-select: none;
  white-space: nowrap;
}

.embed-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: #f1f1f1;
  margin: 4rem 0;

  iframe {
    border: none;
    overflow: hidden;
  }
}

.uploadedImage {
  max-height: 80vh;
  margin: auto;
  display: block;
  width: unset !important;
}

.horizontalRule {
  border-top: 2px solid #000;
}

mark.highlight {
  box-decoration-break: clone;
  padding: 0.125em 0;
}
