.ProseMirror {
  outline: none;

  blockquote {
    border-left: 2px solid;
    @include font-size(1.6rem);

    margin: 1.5em 0;
    padding-left: 1.6em;
  }
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  opacity: 0.3;
}
