.SimplifiedEditor {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--black-50);
  border-radius: 16px;
  padding: 16px 16px 8px;

  .simplifiedEditorField {
    @include font-size(1.4rem);
    min-height: 100px;

    .emptyNode:first-child::before {
      @include font-size(1.4rem);

      color: var(--black-400);
      content: attr(data-placeholder);
      float: left;
      height: 0;
      pointer-events: none;
    }
  }

  & * :focus {
    outline: none;
  }

  .blockQuote {
    font-weight: 500;
    color: var(--black-500);
    border-left: 2px solid #696969;
    padding: 0 0 0 8px;
    margin: 0;

    p {
      margin: 0;
    }
  }

  .uploadedImage {
    max-height: 60vh;
    margin: auto;
    display: block;
  }
  .controls {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .actions {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 4px;
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      margin-left: auto;
    }

    .actionButton {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.5;
      transition: opacity ease-in-out 0.3s;

      &.active,
      &:hover {
        opacity: 1;
      }
    }
  }
}
