$navigation-reserve: 32px;

.Swiper {
  display: block;
  margin-top: 2rem;

  .delete {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 16px;
    right: 16px;
    background: rgba(#000, 0.3);
    cursor: pointer;
    display: none;

    .icon {
      width: 14px;
      height: 14px;
    }
  }

  .holder {
    position: relative;
    box-sizing: border-box;
    padding: 0 $navigation-reserve;

    .image {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 500px;
      background: #fafafa;
      position: relative;

      &:hover .delete {
        display: flex;
      }

      img {
        max-height: 100%;
      }
    }

    .counter {
      @include font-size(1.2rem);

      font-weight: bold;
      background: var(--default-color);
      color: var(--background-color);
      position: absolute;
      padding: 0 0.5rem;
      right: $navigation-reserve;
      bottom: 0;
      z-index: 1;
    }
  }

  .navigation {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    width: $navigation-reserve;
    cursor: pointer;

    &.disabled {
      opacity: 0.5;
      cursor: inherit;
    }

    &.prev {
      left: 0;
    }

    &.next {
      right: 0;
    }

    .icon {
      height: $navigation-reserve;
      width: $navigation-reserve;
      transition: 0.3s ease-in-out;
    }

    &:not(.disabled):hover .icon {
      scale: 1.1;
    }
  }

  .thumbs {
    margin: 3rem 0;

    //.upload {
    //  width: 110px;
    //  height: 75px;
    //  display: flex;
    //  align-items: center;
    //  justify-content: center;
    //  border: 1px solid #ccced3;
    //  box-sizing: border-box;
    //  cursor: pointer;
    //}

    .imageThumb {
      width: 110px;
      height: 75px;
      position: relative;
      background-size: cover;
      background-position: 50% 50%;
      background-color: #fafafa;
      opacity: 0.5;
      filter: grayscale(1);

      transition: filter 0.3s ease-in-out, opacity 0.5s ease-in-out;

      .delete {
        width: 18px;
        height: 18px;
        top: 6px;
        right: 6px;

        .icon {
          width: 8px;
          height: 8px;
        }
      }

      &.active {
        opacity: 1;
        filter: unset;

        .delete {
          display: flex;
        }
      }

      &:not(.active):hover {
        opacity: 1;
        cursor: pointer;
        filter: unset;

        .delete {
          display: flex;
        }
      }
    }
  }
  .addSlides {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
  }
}

:global(.swiper-pagination-fraction) {
  @include font-size(1.2rem);

  font-weight: 600;
  padding: 0.2rem 0.8rem;
  color: var(--background-color);
  background-color: var(--default-color);
}
