.AuthorBadge {
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 2rem;

  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }

  @include media-breakpoint-down(md) {
    text-align: left;
  }

  .info {
    @include font-size(1.4rem);
    border: none;
    display: flex;
    flex: 0 calc(100% - 5.2rem);
    flex-direction: column;
    line-height: 1.3;
    margin-bottom: 1rem;

    @include media-breakpoint-up(sm) {
      flex: 1 100%;
    }

    &:hover {
      background: unset;
    }

    .name {
      color: var(--default-color);
      font-weight: 500;
    }

    .bio {
      color: var(--black-400);
    }
  }

  .actions {
    flex: 0 20%;
    margin-left: 5.2rem;

    @include media-breakpoint-up(sm) {
      margin-left: 2rem;
    }

    @include media-breakpoint-up(md) {
      flex: 1;
      margin-left: auto;
      padding-left: 1rem;
      text-align: right;
    }
  }

  .subscribeButton {
    border-radius: 0.8rem !important;
    margin-right: 0 !important;
    width: 9em;
  }
}
