.AuthorBadge {
  align-items: flex-start;
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;

  &.nameOnly {
    align-items: center;

    .info {
      margin-bottom: 0;
    }
  }

  @include media-breakpoint-up(sm) {
    margin-bottom: 2rem;
  }

  @include media-breakpoint-down(md) {
    text-align: left;
  }

  .info {
    @include font-size(1.4rem);
    border: none;
    display: flex;
    flex: 0 calc(100% - 5.2rem);
    flex-direction: column;
    line-height: 1.3;
    margin-bottom: 1rem;

    @include media-breakpoint-up(sm) {
      flex: 1 100%;
    }

    &:hover {
      background: unset;
    }

    .name {
      color: var(--default-color);
      font-weight: 500;

      & span:hover {
        color: var(--default-color-invert);
        background: var(--background-color-invert);
      }
    }

    .bio {
      color: var(--black-400);
    }
  }

  .actions {
    flex: 0 20%;
    display: flex;
    flex-direction: row;
    margin-left: 5.2rem;
    gap: 1rem;

    @include media-breakpoint-up(sm) {
      margin-left: 2rem;
    }

    @include media-breakpoint-up(md) {
      flex: 1;
      margin-left: auto;
      padding-left: 1rem;
      text-align: right;
    }
  }

  .actionButton {
    border-radius: 0.8rem !important;
    margin-right: 0 !important;
    width: 9em;

    &.iconed {
      padding: 6px !important;
      min-width: 32px;
      width: unset;

      &:hover img {
        filter: invert(1);
      }
    }

    &:hover {
      .actionButtonLabel {
        display: none;
      }

      .actionButtonLabelHovered {
        display: block;
      }
    }
  }

  .actionButtonLabelHovered {
    display: none;
  }
}
