.TableOfContentsFixedWrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 281px;
  min-height: 100%;
}

.TableOfContentsFixedWrapperLefted {
  right: auto;
  left: 70px;
}

.TableOfContentsContainer {
  position: sticky;
  top: 150px;
  right: 20px;
  display: flex;
  width: 100%;
  height: auto;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  background-color: transparent;
}

.TableOfContentsHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.TableOfContentsHeading {
  margin: 0;
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.TableOfContentsPrimaryButton {
  position: absolute;
  right: 20px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 1px 1px rgb(0 0 0 / 30%);
  }
}

.TableOfContentsPrimaryButtonLefted {
  right: auto;
  left: 20px;
}

.TableOfContentsHeadingsList {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0 38px 0 0;
  width: 100%;
}

.TableOfContentsHeadingsItem {
  margin-top: 20px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  letter-spacing: -0.14px;

  &:hover {
    color: rgb(0 0 0 / 50%);
  }
}

.TableOfContentsHeadingsItemH3,
.TableOfContentsHeadingsItemH4 {
  margin-top: 8px;
}

.TableOfContentsHeadingsItemH3 {
  padding-left: 8px;
}

.TableOfContentsHeadingsItemH4 {
  padding-left: 16px;
}

.TableOfContentsIconRotated {
  transform: rotate(180deg);
}
