.rating {
  align-items: center;
  display: flex;

  &.isDownvoted .downvoteButton,
  &.isUpvoted .upvoteButton {
    background: #000;
    border-color: #000;
    color: #fff;
  }
}

.ratingValue {
  font-weight: bold;
  margin: 0 0.5em;
}

.ratingControl {
  align-items: center;
  border: 2px solid;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  height: 0.9em;
  line-height: 0;
  font-size: 1.6em;
  padding: 0;
  width: 0.9em;

  &:hover {
    background: #000;
    border-color: #000;
    color: #fff;
  }
}
