.author {
  align-items: flex-start;
  display: flex;
  margin-bottom: 2.4rem;

  &:last-child {
    margin-bottom: 0;
  }

  @include media-breakpoint-down(lg) {
    flex-wrap: wrap;
  }
}

.author__details {
  display: flex;
  flex: 1;
  padding-right: 1.2rem;
  width: max-content;
}

.author__details-wrapper {
  flex: 1;
}

.author__name {
  border: none !important;
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.author__about {
  font-size: 1.5rem;
  color: rgb(0 0 0 / 60%);
}

.author__subscribe {
  @include media-breakpoint-down(lg) {
    padding: 0 0 0 42px;
  }

  a {
    background: #f7f7f7;
    border: none;
    display: inline-block;
    height: 32px;
    margin-right: 0.4rem;
    position: relative;
    vertical-align: middle;
    width: 32px;

    &::before {
      background-image: url(/icons/user-link-default.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      content: '';
      filter: invert(1);
      height: 18px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 18px;
    }
  }

  a[href*='facebook.com/'] {
    &::before {
      background-image: url(/icons/facebook-white.svg);
    }
  }

  a[href*='twitter.com/'] {
    &::before {
      background-image: url(/icons/twitter-white.svg);
    }
  }

  a[href*='telegram.com/'] {
    &::before {
      background-image: url(/icons/telegram-white.svg);
    }
  }

  a[href*='vk.com/'] {
    &::before {
      background-image: url(/icons/vk-white.svg);
    }
  }

  a[href*='tumblr.com/'] {
    &::before {
      background-image: url(/icons/tumblr-white.svg);
    }
  }
}

.button--subscribe {
  align-items: center;
  aspect-ratio: 1/1;
  background: #f6f6f6;
  border-radius: 100%;
  display: inline-flex;
  float: right;

  img {
    display: block;
  }
}

.button__label {
  display: none;
}

.button--write {
  background: #f7f7f7;
  color: #000;
  display: inline-flex;
  @include font-size(1.5rem);

  &:hover {
    background: #000;
    color: #fff;

    img {
      filter: invert(1);
    }
  }

  .icon {
    margin-right: 0.5em;
  }

  img {
    height: 15px;
    transition: filter 0.3s;
  }
}

.authorPage {
  .authorName {
    @include font-size(3.4rem);

    font-weight: 500;
    margin-bottom: 0.2em;
  }

  .authorAbout {
    color: #696969;
    @include font-size(1.7rem);
  }

  .authorSubscribe {
    margin-top: 2rem;
  }

  .authorDetails {
    display: block;
  }

  .buttonLabel {
    display: block;
  }

  .buttonSubscribe {
    aspect-ratio: auto;
    background-color: #000;
    border-radius: 2px;
    float: none;
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;

    .icon {
      margin-right: 0.5em;

      img {
        filter: invert(1);
      }
    }

    &:hover {
      .icon img {
        filter: invert(0.7);
      }
    }
  }

  .buttonSubscribe img {
    vertical-align: text-top;
  }

  .button {
    margin-right: 1.6rem;
    vertical-align: middle;
  }
}

.authorPage {
  .authorName {
    @include font-size(3.4rem);

    font-weight: 500;
    margin-bottom: 0.2em;
  }

  .authorAbout {
    color: #696969;
    @include font-size(1.7rem);
  }

  .authorSubscribe {
    display: flex;
    margin-top: 2rem;
  }

  .authorDetails {
    display: block;
  }

  .buttonLabel {
    display: block;
  }

  .buttonSubscribe {
    aspect-ratio: auto;
    background-color: #000;
    border-radius: 2px;
    float: none;
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;

    .icon {
      margin-right: 0.5em;

      img {
        filter: invert(1);
      }
    }

    &:hover {
      .icon img {
        filter: invert(0.7);
      }
    }
  }

  .buttonSubscribe img {
    vertical-align: text-top;
  }

  .button {
    margin-right: 1.6rem;
    vertical-align: middle;
  }
}
