h1 {
  @include font-size(4rem);

  line-height: 1.1;
  margin-top: 0.5em;
}

h2 {
  line-height: 1.1;
}

img {
  max-width: 100%;
}

.shoutHeader {
  margin-bottom: 2em;

  @include media-breakpoint-up(md) {
    margin: 0 0 2em;
  }
}

.shoutCover {
  background-size: cover;
  height: 0;
  padding-bottom: 56.2%;
}

.shoutBody {
  font-size: 1.7rem;
  line-height: 1.6;

  img {
    display: block;
    margin-bottom: 0.5em;
  }

  blockquote {
    border-left: 4px solid;
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
    line-height: 1.4;
    margin: 1.5em 0;
    padding: 0 0 0 1em;

    @include media-breakpoint-up(md) {
      margin-left: -16.6666%;
    }
  }

  mark {
    background: none;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.4;
  }
}

.shoutMediaBody {
  display: block;

  audio {
    display: inline-block;
  }

  video {
    display: block;
  }
}

.shoutAuthor,
.shoutDate {
  @include font-size(1.5rem);
}

.shoutAuthor {
  margin-bottom: 1.5em;

  a {
    border: none;
    color: rgb(0 0 0 / 60%);

    &:hover {
      color: #fff;
    }
  }
}

.shoutAuthorsList {
  border-bottom: 1px solid #e8e8e8;
  margin: 2em 0;
  padding-bottom: 2em;

  h4 {
    color: #696969;
    font-size: 1.5rem;
    font-weight: normal;
  }
}

.writeComment {
  border: 2px solid #f6f6f6;
  @include font-size(1.7rem);

  outline: none;
  padding: 0.2em 0.4em;
  width: 100%;

  &::placeholder {
    color: #858585;
  }
}

.commentWarning {
  background: #f6f6f6;
  @include font-size(2.2rem);

  margin-bottom: 1em;
  padding: 2.4rem 1.8rem;
}

.topic a {
  /* white-space: nowrap; */
  color: black;
  padding: 0.3vh;

  &:hover {
    font-weight: 500;
  }
}

.shoutStats {
  border-top: 4px solid #000;
  display: flex;
  justify-content: flex-start;
  padding: 3rem 0 0;

  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
  }
}

.shoutStatsItem {
  @include font-size(1.5rem);

  font-weight: 500;
  display: inline-block;
  margin: 0 3.2rem 1em 0;
  vertical-align: baseline;

  .icon {
    height: 1.6em;
    display: inline-block;
    margin-right: 0.2em;
    max-width: 1.4em;
    max-height: 1.4em;
    transition: filter 0.2s;
    vertical-align: middle;
  }

  .iconEye {
    height: 1.8em;
    max-width: 1.8em;
    max-height: 1.8em;
  }

  img {
    display: block;
  }

  a {
    border: none;
    text-decoration: none;
    &:hover {
      background: unset;
      color: #000;

      img {
        filter: unset;
      }
    }
  }
}

.shoutStatsItemInner {
  cursor: pointer;
  margin: -0.3em -0.3em 0;
  padding: 0.3em;

  .icon {
    margin-right: 0;
  }

  .iconEdit {
    margin-right: 0.3em;
  }

  &:hover {
    background: #000;
    cursor: pointer;
    img {
      filter: invert(1);
    }
  }
}

.shoutStatsItemLikes {
  .icon {
    vertical-align: baseline;
  }

  .icon:last-of-type {
    // transform: rotate(180deg);
    transform-origin: center;
    margin-left: 0.3em;
    vertical-align: middle;
  }
}

.shoutStatsItemAdditionalData {
  color: rgb(0 0 0 / 40%);
  font-weight: normal;
  justify-self: flex-end;
  margin-right: 0;
  margin-left: auto;
  white-space: nowrap;

  .icon {
    opacity: 0.4;
    height: 2rem;
  }

  @include media-breakpoint-down(sm) {
    flex: 1 100%;
  }
}

.shoutStatsItemAdditionalDataItem {
  font-weight: normal;
  display: inline-block;
  margin-left: 2rem;
  margin-right: 0;

  @include media-breakpoint-down(sm) {
    &:first-child {
      margin-left: 0;
    }
  }
}

.topicsList {
  @include font-size(1.2rem);

  border-bottom: 1px solid #e8e8e8;
  letter-spacing: 0.08em;
  margin-top: 1.6rem;
  padding-bottom: 1.6rem;

  .shoutTopic {
    display: inline-block;
    margin: 0.8rem 0.8rem 0.8rem 0;

    a {
      background: #f6f6f6;
      color: #000;
      border: none;
      padding: 0.4rem 0.8rem;
      transition: background-color 0.2s;
      text-transform: uppercase;

      &:hover {
        background-color: rgb(0 0 0 / 20%);
      }
    }
  }
}

.comments {
  margin: 0;

  &,
  ul {
    list-style: none;
    padding: 0;
  }

  ul {
    margin: 1em 0 0 2.4rem;
  }
}

.commentsHeaderWrapper {
  display: flex;
  justify-content: space-between;
}

.commentsHeader {
  @include font-size(2.4rem);

  margin-bottom: 1em;

  .newReactions {
    color: #d00820;
  }
}

.ratingControl {
  button {
    font-size: 2.225rem;
  }
}

.commentForm {
  margin-bottom: 2.4rem;

  input,
  textarea {
    border-radius: 0.8rem !important;
  }
}

.commentsViewSwitcher {
  margin-top: 0;
}

.commentsViewSwitcherButton {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.help {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 1.6rem;
  padding-bottom: 3.2rem;

  button {
    @include font-size(1.5rem);

    border-radius: 0.8rem;
    margin-right: 1.2rem;
    padding: 1.1rem 1.2rem 0.9rem;
  }
}

.mainTopicLink {
  white-space: nowrap;
}

.signInMessage {
  background: #f1f2f3;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  font-size: 20px;

  .link {
    color: #2638d9;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-bottom: 0;

    &:hover {
      color: #fff;
    }
  }
}
