.commentDates {
  color: #9fa1a7;
  align-items: center;
  align-self: center;
  display: flex;
  flex: 1;
  @include font-size(1.2rem);
  font-size: 1.2rem;
  gap: 1rem;
  justify-content: flex-start;
  margin: 0 1em 0 0;

  .date {
    font-weight: 500;

    .icon {
      line-height: 1;
      width: 1rem;
      display: inline-block;
      opacity: 0.6;
      margin-right: 0.5rem;
      vertical-align: middle;
    }
  }
}

.commentDatesLastInRow {
  margin-right: 0;
  white-space: nowrap;
}
