.AudioHeader {
  overflow: hidden;
  margin-bottom: 32px;

  .albumInfo {
    & > h1 {
      margin: 16px 0 0;
    }

    .artistData {
      margin: 18px 0 0;
      display: flex;
      flex-direction: row;

      .item {
        font-size:1.6rem;
        font-weight: 500;
        padding: 2px 12px;
        border-left: 2px solid #e9e9ee;

        &:first-child {
          border-left: none;
          padding-left: 0;
        }
      }
    }
  }
}
