.commentEditor {
  border: 2px solid #e8e8e8;
  border-radius: 8px;
  padding: 0 16px 16px;

  .textarea {
    min-height: 1em;
    overflow: hidden;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .menu,
    .buttons {
      display: flex;
      flex-direction: row;
    }
    .buttons {
      gap: 10px;
    }
  }
}

.helpText {
  font-size: 12px;
  color: #696969;
  margin: 12px 0;
  font-style: italic;
}

.signInMessage {
  background: #f1f2f3;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  font-size: 20px;

  .link {
    color: #2638d9;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      text-decoration: unset;
    }
  }
}
