.commentEditor {
  background: #f7f7f8;
  border-radius: 16px;
  padding: 16px;

  .textarea {
    min-height: 1em;
    overflow: hidden;
  }

  .actions {
    @include media-breakpoint-up(sm) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .menu,
    .buttons {
      display: flex;
      flex-direction: row;
    }

    @include media-breakpoint-down(sm) {
      .menu {
        margin-bottom: 1em;
      }
    }

    .buttons {
      gap: 10px;
    }
  }
}
