.ProseMirrorOverrides > .ProseMirror {
  &-focused {
    outline: none;
  }

  .paragraph {
    font-size: 15px;
    line-height: 1.1em;
  }

  blockquote {
    padding-left: 10px;
    font-style: italic;
    font-weight: 400;
    color: #9fa1a7;
    border-left: 2px solid #696969;
  }
}
