.confirmModal {
  padding: 2rem;
  position: relative;

  .confirmModalTitle {
    @include media-breakpoint-up(sm) {
      margin: 0 10%;
    }

    font-size: 3.2rem;
    color: var(--default-color);
    font-weight: 700;
    margin: 0 3rem;
    text-align: center;
  }

  .confirmModalActions {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    gap: 0.5rem;

    .confirmAction {
      flex: 1;
    }
  }
}
