.NotificationView {
  font-size:1.5rem;
  display: flex;
  align-items: flex-start;
  min-height: 72px;
  margin-left: -16px;
  border-radius: 16px;
  padding: 16px;
  background-color: var(--yellow-50);
  line-height: 20px;
  cursor: pointer;
  transition: background-color 100ms;
  max-width: 700px;

  &.seen {
    background-color: transparent;
  }

  &:hover {
    background-color: var(--gray-100);
  }

  a,
  a:visited {
    padding-bottom: 0 !important;
    border-bottom: none !important;
    font-weight: 700;
  }
}

.userpic {
  min-width: 40px;
  margin-right: 1rem;
}

.timeContainer {
  margin-left: auto;
  padding-left: 16px;
  color: var(--black-400);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  align-self: flex-start;
}
