.EyedPasswordInput {
  .passwordInput {
    padding-right: 3em !important;
  }


  .passwordToggleControl {
    position: absolute;
    right: 1em;
    transform: translateY(-50%);
    top: 50%;
  }

  .validationError {
    position: absolute;
    top: 100%;
    font-size: 12px;
    line-height: 16px;
    margin-top: 0.3em;
    color: var(--danger-color);
  }
}
