.DarkModeToggle {
  .switcher {
    background: #000;
    border-radius: 2em;
    height: 2.8rem;
    position: relative;
    width: 4.6rem;

    &:before {
      background: #fff;
      border-radius: 100%;
      content: '';
      height: 1.6rem;
      left: 0.6rem;
      position: absolute;
      top: 0.6rem;
      transition: left 0.3s;
      width: 1.6rem;
      z-index: 1;
    }

    .icon {
      filter: none;
      height: 1rem;
      position: absolute;
      right: 0.5rem;
      top: 0.9rem;
      width: auto;
    }
  }

  input {
    opacity: 0;
    position: absolute;
    z-index: -1;

    & + label {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      padding: 0;
      position: relative;

      &:before {
        display: none;
      }
    }

    &:checked + label {
      .switcher {
        &:before {
          left: 2.4rem;
        }
      }
    }
  }
}
