.editorFloatingMenu {
  z-index: 50;

  .plusButton {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.3;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  .menuContent {
    position: absolute;
    left: 40px;
    top: 0;
    display: flex;
    gap: 4px;
    background: var(--background-color);
    padding: 4px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);

    button {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      cursor: pointer;
      opacity: 0.5;
      transition: opacity 0.2s;
      border-radius: 4px;

      &:hover {
        opacity: 1;
        background: var(--black-50);
      }
    }
  }
} 