@import 'vars';

:root {
  --background-color: #fff;
  --default-color: #{$default-color};
  --background-color-invert: #000;
  --default-color-invert: #fff;
  --link-color: #000;
  --link-hover-color: #fff;
  --link-hover-background: #000;
  --secondary-color: #85878a;
  --placeholder-color: #9fa1a7;
  --placeholder-color-semi: rgb(159 169 167 / 20%);
  --danger-color: $color-danger;
  --lightgray-color: rgb(84 16 17 / 6%);
  --selection-background: #000;
  --selection-color: #fff;
  --icon-filter: invert(0);
  --icon-filter-hover: invert(1);
  --editor-bubble-menu-background: #fff;
  --blue-link: $link-color;

  // names from figma
  --black-50: #f7f7f8;
  --black-100: #e9e9ee;
  --black-300: #9fa1a7;
  --black-400: #696969;
  --black-500: #141414;
  --white-500: #fff;
  --blue-500: #2638d9;
  --yellow-50: #fffbeb;
  --gray-100: #f3f4f6;
}

[data-theme='dark'] {
  --background-color: #121416;
  --default-color: #fff;
  --background-color-invert: #fff;
  --default-color-invert: #121416;
  --link-color: #fff;
  --link-hover-color: #000;
  --link-hover-background: #fff;
  --selection-background: #eee;
  --selection-color: #000;
  --icon-filter: invert(1);
  --icon-filter-hover: invert(0);
  --editor-bubble-menu-background: #444;

  // names from figma
  --black-50: #080807;
  --black-100: #161611;
  --black-300: #696969;
  --black-400: #969696;
  --black-500: #ebebeb;
  --white-500: #000;
}