$include-column-box-sizing: true !default;
$rfs-breakpoint: 1460px !default;
$rfs-base-value: 1.6rem !default;
$rfs-rem-value: 10 !default;
$grid-columns: 24;
$grid-gutter-width: 4rem !default;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;
$container-padding-x: $grid-gutter-width * 0.5 !default;
$container-max-widths: $grid-breakpoints;
$gutters: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 3rem
) !default;
$grid-row-columns: 6 !default;
$prefix: '' !default;

// Шрифты
$font-family: muller, arial, helvetica, sans-serif;
$font-size-base: 2rem;
$line-height-base: 1.6;

// Базовые цвета (не зависящие от темы)
$color-primary: #2638d9;
$color-danger: #d00820;
$default-color: #141414;

// Другие переменные
$border-radius: 2px;
$transition-base: all 0.2s ease-in-out;
$container-padding-x: $grid-gutter-width * 0.5;