.allTopicsPage {
  .group {
    font-weight: bold;
    margin: 3em 0 9.6rem;

    @include media-breakpoint-down(sm) {
      margin-bottom: 6.4rem;
    }

    h2 {
      margin-bottom: 3.2rem;
      text-transform: capitalize;

      @include media-breakpoint-down(sm) {
        margin-bottom: 1.6rem;
      }
    }

    .topic {
      margin-bottom: 1.6rem;

      @include media-breakpoint-down(sm) {
        margin-left: 2.6rem;
      }
    }
  }

  .container {
    width: auto;

    .search-input {
      display: inline-block;
      width: 100px !important;
    }
  }
}

.stats {
  margin-top: 2.4rem;
}

.loadMoreContainer {
  margin-top: 48px;
  text-align: center;

  .loadMoreButton {
    padding: 0.6em 3em;
    width: 100%;

    @include media-breakpoint-up(sm) {
      width: auto;
    }
  }
}
