.allTopicsPage {
  .pageHeader,
  .group h2 {
    @include media-breakpoint-down(sm) {
      margin-left: 1.3rem;
    }
  }

  .group {
    font-weight: bold;
    margin: 3em 0 9.6rem;

    @include media-breakpoint-down(sm) {
      margin-bottom: 6.4rem;
    }

    h2 {
      margin-bottom: 3.2rem;
      text-transform: capitalize;

      @include media-breakpoint-down(sm) {
        margin-bottom: 1.6rem;
      }
    }

    .topic {
      @include media-breakpoint-down(md) {
        margin-top: 1.6rem;
      }

      @include media-breakpoint-down(sm) {
        margin-left: 2.6rem;
      }
    }
  }

  .container {
    width: auto;
  }
}

.viewSwitcher {
  @include media-breakpoint-down(sm) {
    margin: 0 2.6rem;
  }
}
