@use 'fonts';
@use 'grid';
@use 'sass:math';

* {
  box-sizing: border-box;
}

::selection {
  background: var(--selection-background);
  color: var(--selection-color);
}

html {
  color: var(--default-color);
  font-size: 62.5%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none;
  overflow-y: scroll;
}

body {
  background: var(--background-color);
  color: var(--default-color);
  font-family: Muller, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.6;
  min-height: 100%;
  text-size-adjust: 100%;

  &.fixed {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }
}

html,
body,
main,
section {
  border: 0;
  padding: 0;
  margin: 0;
}

.wide-container {
  @include media-breakpoint-up(sm) {
    padding: 0 $container-padding-x;
  }

  @include media-breakpoint-up(xl) {
    padding: 0 $grid-gutter-width;
  }

  margin: 0 auto;
  max-width: 1500px;
  padding: 0 math.div($container-padding-x, 2);
  width: 100%;
}

h1,
h2 {
  line-height: 1.3;

  .wrapped {
    background: var(--background-color-invert);
    color: var(--default-color-invert);
    margin-left: -0.15em;
    padding: 0 0.15em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &::selection {
      background: var(--selection-background);
      color: var(--selection-color);
    }
  }
}

h1 {
  font-size:4.8rem;
  line-height: 1.1;
}

h2 {
  font-size:4rem;
  line-height: 1.1;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

h3 {
  font-size:3.2rem;
  line-height: 1.1;
  margin-bottom: 0.5em;
}

h4 {
  font-size:2.6rem;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h5 {
  font-size:2.2rem;
}

main {
  box-sizing: border-box;
  flex: 1;
  padding-bottom: 2em;
}

body,
span,
a,
p,
h1,
h2,
h3,
h4,
h5 {
  &:first-child {
    margin-top: 0;
  }
}

a,
a:hover,
a:visited,
a:link,
.link {
  border-bottom: 2px solid var(--link-color);
  text-decoration: none;
  cursor: pointer;
}

a:visited,
a:link,
.link {
  color: var(--link-color);
  transition:
    color 0.2s,
    background-color 0.2s;

  &:hover {
    background-color: var(--link-hover-background);
    color: var(--link-hover-color);
  }
}

ul {
  margin-bottom: 1.5em;
}

.nodash {
  list-style: none;
  margin: 0 0 1.5em;
  padding: 0;

  li {
    margin: 0 0 0.5em;
    padding: 0;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font: inherit;

  &[disabled] {
    cursor: default;
    opacity: 0.5 !important;
  }
}

.button {
  color: var(--default-color-invert);
  background: var(--background-color-invert);
  box-sizing: border-box;
  font-size: 100%;
  font-weight: 500;
  padding: 0.6rem 1.2rem;
  text-align: center;

  &:hover {
    color: var(--black-300);
    opacity: 1;
  }

  &:active {
    color: var(--black-300);
  }
}

.button--subscribe {
  background: var(--background-color);
  color: var(--default-color);
  border: 2px solid var(--black-100);
  font-size: 1.5rem;
  justify-content: center;
  padding: 0.6rem 1.2rem;
  transition: background-color 0.2s;

  img {
    height: auto;
    transition: filter 0.2s;
  }

  &:hover {
    background: var(--background-color-invert);
    color: var(--default-color-invert);

    img {
        // filter: invert(1);
        fill: var(--icon-color-invert);
        color: var(--icon-color);
    }
  }
}

.button--light {
  font-size:1.5rem;
  background-color: var(--black-100);
  border-radius: 0.8rem;
  color: var(--default-color);
  font-weight: 500;
  height: auto;
  padding: 0.6rem 1.2rem 0.6rem 1rem;

  &:hover {
    background: var(--black-300);
  }
}

.button--subscribe-topic {
  background: var(--background-color);
  color: var(--default-color);
  border: 2px solid var(--default-color);
  border-radius: 0.8rem;
  font-size: 1.4rem;
  line-height: 2.8rem;
  height: 3.2rem;
  padding: 0 1rem;

  &:hover {
    background: var(--background-color-invert);
    color: var(--default-color-invert);
    opacity: 1;

    .icon {
        // filter: invert(1);
        fill: var(--icon-color-invert);
        color: var(--icon-color);
    }
  }

  &[disabled]:hover {
    background: var(--background-color);
    color: var(--default-color);
  }

  .icon {
    display: inline-block;
    margin-right: 0.3em;
    vertical-align: text-bottom;
    width: 1.4em;
  }
}

.button--content-index {
  @include media-breakpoint-up(md) {
    margin-top: -0.5rem;
    position: sticky;
    top: 135px;
  }

  @include media-breakpoint-up(sm) {
    right: $container-padding-x;
  }

  background: none;
  border: 2px solid var(--white-500);
  height: 3.2rem;
  float: right;
  padding: 0;
  position: absolute;
  right: $container-padding-x * 0.5;
  top: -0.5rem;
  width: 3.2rem;
  z-index: 1;

  .icon {
    background: #fff;
    transition: filter 0.3s;
  }

  .icon,
  img {
    height: 100%;
    vertical-align: middle;
    width: auto;
  }

  &:hover {
    .icon {
        // filter: invert(1);
        fill: var(--icon-color-invert);
        color: var(--icon-color);
    }
  }

  .expanded {
    border-radius: 100%;
    overflow: hidden;

    img {
      height: auto;
      margin-top: 0.8rem;
    }
  }
}

.button--submit,
.button--outline {
  font-size:2rem;
  padding: 1.6rem 2rem;
}

.button--outline {
  background: none;
  box-shadow: inset 0 0 0 2px #000;
  color: #000;

  &:hover {
    box-shadow: inset 0 0 0 2px var(--black-300);
  }
}

form {
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='search'],
  input[type='tel'],
  input[type='date'],
  textarea,
  select {
    border: 2px solid var(--black-100);
    border-radius: 2px;
    display: block;
    font-family: inherit;
    font-size: 1.7rem;
    margin-bottom: 1.6rem;
    padding: 2.5rem 1.2rem 1rem;
    width: 100%;

    &::placeholder {
      color: transparent;
    }

    & ~ label {
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-touch-callout: none;
      color: var(--black-400);
      position: absolute;
      left: 1.2rem;
      display: block;
      text-align: left;
      padding: 0;
      pointer-events: none;
      top: 50%;
      transform: translateY(-50%);
      transform-origin: 0 0;
      transition:
        transform 0.1s 0.1s,
        color 0.5s,
        font-size 0.1s 0.1s;
      transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
      user-select: none;
    }

    & + .form-message {
      margin-top: -1.2rem;
    }

    &.nolabel {
      padding-bottom: 1.8rem;
      padding-top: 1.7rem;
    }
  }

  .form-message--error {
    color: var(--danger-color) !important;
  }

  select {
    padding-bottom: 1.65rem;
    padding-top: 1.65rem;
  }

  input,
  select,
  textarea {
    &:focus,
    &:-webkit-autofill,
    &:not(:placeholder-shown) {
      & ~ label {
        font-size:1.2rem;
        color: var(--black-400);
        transform: translateY(-1.8em) !important;
      }
    }
  }

  textarea {
    & ~ label {
      left: 1.6rem;
      top: 3.2rem;
    }
  }

  .form-message {
    font-size:1.2rem;
  }

  .pretty-form__item {
    margin-bottom: 2em;
    position: relative;

    input {
      padding-top: 1.4em;
    }

    textarea {
      line-height: 1.4;
    }
  }

  .pretty-form__item--error {
    input {
      border-color: var(--danger-color);
    }
  }

  .pretty-form__item--with-button {
    @include media-breakpoint-up(sm) {
      display: flex;
    }

    margin-bottom: 1.6rem;

    input {
      @include media-breakpoint-up(sm) {
        margin-bottom: 0 !important;
      }

      flex: 1;
    }

    *:first-child {
      @include media-breakpoint-up(sm) {
        margin-right: 1em;
      }

      flex: 1;
    }
  }
}

.input--short {
  display: inline-block !important;
  width: 4em !important;
}

input[type='checkbox'] {
  display: none;

  & + label {
    padding-left: 30px;
    position: relative;

    &::before {
      // background: url('/icons/checkbox.svg') no-repeat;
      content: '';
      height: 2rem;
      left: 0;
      position: absolute;
      top: 0.2em;
      width: 2rem;
    }
  }

  &:checked + label {
    &::before {
      // background-image: url('/icons/checkbox-checked.svg');
      position: relative;
    }
  }
}

.hidden {
  display: none !important;
}

figure {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 2em auto;
  gap: 0.6rem;

  img {
    display: block;
    max-height: 90vh;
    margin: auto;
    width: 100%;
  }

  figcaption {
    font-size:1.2rem;
    color: var(--black-400);
    line-height: 1.5;
  }
}

.view-switcher {
  @include media-breakpoint-up(md) {
    flex-wrap: wrap;
  }

  font-size:1.4rem;
  display: flex;
  font-weight: 500;
  list-style: none;
  margin: 3.6rem -1rem 0;
  overflow: auto;
  padding: 0 1rem;

  li {
    @include media-breakpoint-up(md) {
      margin-right: 2.4rem;
    }

    display: inline-block;
    margin-right: 2rem;
    margin-bottom: 0.6em;
    white-space: nowrap;

    .link {
      border-bottom: none;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    height: auto !important;
    font-size: inherit !important;
    padding: 0 !important;
  }

  a,
  .link,
  .linkReplacement,
  button {
    border-bottom: 1px solid transparent;
    color: var(--link-color);
    cursor: pointer;
    font-weight: inherit;

    &:hover {
      background: var(--link-hover-background);
      color: var(--link-hover-color);
    }
  }

  .view-switcher__item--selected {
    font-weight: bold;

    a,
    .link,
    .linkReplacement,
    button {
      border-bottom: 2px solid var(--default-color);
      color: var(--default-color);
      cursor: default;

      &:hover {
        background: transparent;
      }
    }
  }
}

.floor-header {
  margin-bottom: 0 !important;
}

.floor {
  @include media-breakpoint-up(md) {
    margin-bottom: 6.4rem;
  }

  .container {
    padding-left: $container-padding-x;
    padding-right: $container-padding-x;
  }
}

.floor--7 {
  .col-md-12 {
    @include media-breakpoint-down(lg) {
      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 1.6em;
      }
    }

    @include media-breakpoint-down(md) {
      &:nth-child(3),
      &:nth-child(4) {
        margin-bottom: 1.6em;
      }
    }
  }
}

.floor--important {
  @include media-breakpoint-up(md) {
    padding-bottom: $grid-gutter-width;
    padding-top: $grid-gutter-width;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 5rem;
  }

  background: var(--background-color-invert);
  color: var(--default-color-invert);
  padding: $grid-gutter-width 0;
  padding-bottom: $container-padding-x;
  padding-top: $container-padding-x;

  ::selection {
    background: var(--background-color);
    color: var(--default-color) !important;
  }

  h2 {
    font-size:4.4rem;
    text-align: center;
  }

  .all-materials {
    a {
      color: var(--default-color-invert) !important;
    }
  }

  a:hover {
    color: var(--default-color) !important;
    background: var(--background-color);
  }
}

.row {
  @include media-breakpoint-down(md) {
    > * {
      margin-bottom: 2.4rem;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-left: math.div(-$container-padding-x, 2);
    margin-right: math.div(-$container-padding-x, 2);

    > * {
      padding-left: math.div($container-padding-x, 2);
      padding-right: math.div($container-padding-x, 2);
    }
  }
}

#app {
  display: flex;
  flex-direction: column;
  place-content: space-between space-between;
  min-height: 100vh;
}

.main-content {
  @include media-breakpoint-up(lg) {
     padding-top: 130px;
  }

  flex: 1 100%;
  min-height: 90vh;
  padding-top: 80px;
  position: relative;
}

.main-content--no-padding {
  padding-bottom: 0;
  padding-top: 0;
}

.container {
  @include media-breakpoint-down(sm) {
    // padding: 0 $container-padding-x * 0.5;
  }

  max-width: 1500px;
  width: auto;
}

.container--static-page {
  @include media-breakpoint-up(md) {
    padding-top: 1.5em;

    > .row {
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-right: 0;
    }
  }

  font-size:1.7rem;
  color: #404040;
  position: relative;

  .order-md-last {
    padding-right: 0;
  }
}

.shift-content {
  @include media-breakpoint-up(md) {
    margin-left: 161px;
  }

  @include media-breakpoint-up(lg) {
    margin-left: 235px;
  }

  position: relative;

  .left-navigation {
    position: sticky;
    top: 0;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 420px;
}

.content-index {
  @include media-breakpoint-up(md) {
    position: sticky;
    top: 14rem;
  }

  font-size:1.4rem;
  line-height: 1.4;
  margin: 0 3.6rem 2em 0;

  ul ul {
    margin: 1em 0 0 1em;
  }

  li {
    margin-bottom: 1em;
  }

  a {
    border: none;
  }

  h4 {
    font-size:1.6rem;
  }
}

details {
  @include media-breakpoint-down(md) {
    padding-left: 3rem;
  }

  margin-bottom: 1.5em;

  summary {
    display: block;
    position: relative;

    &::marker {
      display: none;
    }

    h3 {
      display: inline-block;
      cursor: pointer;
      margin-bottom: 0;

      &::before {
        content: '';
        background: url('/icons/expand.svg') no-repeat;
        background-size: contain;
        height: 1.3rem;
        margin-right: 0.5em;
        position: absolute;
        right: 100%;
        top: 0.35em;
        transition: transform 0.3s;
        width: 2rem;
      }
    }
  }

  &[open] {
    h3::before {
      transform: rotate(180deg);
    }
  }
}

.text-truncate {
  display: -webkit-box !important;
  overflow: hidden;
  position: relative;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.description {
  font-size:1.4rem;
  color: var(--black-400);

  .pretty-form__item + & {
    margin-top: -2rem;
  }
}

[data-custom-scroll='on'] {
  /* Customize website's scrollbar like Mac OS
  Not supports in Firefox and IE */

  /* total width */
  &::-webkit-scrollbar {
    color: var(--default-color);
    background: var(--background-color);
    width: 16px;
  }

  /* background of the scrollbar except button or resizer */
  &::-webkit-scrollbar-track {
    color: var(--default-color);
    background: var(--background-color);
  }

  /* scrollbar itself */
  &::-webkit-scrollbar-thumb {
    color: var(--default-color);
    background: var(--background-color);
    border-radius: 16px;
    border: 4px solid var(--white-500);
  }

  /* set button(top and bottom of the scrollbar) */
  &::-webkit-scrollbar-button {
    display: none;
  }
}

iframe {
  border: none;
  color: var(--default-color);
  max-width: 100%;
}

.lead {
  font-size:2rem;
  font-weight: bold;
  line-height: 1.5;
}

.cursorPointer {
  cursor: pointer;
}

.blackModeIntersection {
  color: var(--default-color);
  background: var(--background-color);
}

.img-align-column {
  clear: both;
}

.view-switcher__counter {
  background: var(--black-50);
  border-radius: 0.8rem;
  display: inline-flex;
  font-size: 1.2rem;
  font-weight: bold;
  height: 2.2rem;
  justify-content: center;
  line-height: 2.2rem;
  margin-left: 0.4rem;
  min-width: 2.2rem;
  padding: 0 0.6rem;
  text-align: center;

  .view-switcher__item--selected & {
    background: var(--background-color-invert);
    color: var(--default-color-invert);
  }
}

.view-switcher__search {
  @include media-breakpoint-up(sm) {
    flex: 1;
    margin-left: 2em;
  }

  flex: 1 100%;
  text-align: right;
  white-space: nowrap;

  .icon {
    display: inline-block;
    margin-right: 0.2em;
    vertical-align: middle;
  }

  a:hover {
    .icon {
        // filter: invert(1);
        fill: var(--icon-color-invert);
        color: var(--icon-color);
    }
  }
}

// Добавим глобальный стиль для SVG
[data-theme='dark'] {
  svg {
        // filter: invert(1);
        fill: var(--icon-color-invert);
        color: var(--icon-color);
  }
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}
