.topicPage {
  .groupControls {
    align-items: baseline;
    margin-bottom: 4rem;
    margin-top: 7rem;
  }

  .floorImportant {
    a:hover {
      background: #fff;
      color: #000 !important;
    }
  }

  .container {
    padding-left: $container-padding-x;
  }

  .floor {
    padding-left: 0;
    padding-right: 0;
  }
}
