.Expo {
  display: block;
  background: #fef2f2;
  padding: 0 0 4rem;
  min-height: 100vh;

  .navigation {
    padding: 0;
  }

  .showMore {
    display: flex;
    width: 100%;
    padding: 4rem 0 2rem;
    align-items: center;
    justify-content: center;
  }
}
