.InlineForm {
  border: 1px solid;
  position: relative;
  width: 100%;

  .form {
    display: flex;
    flex-flow: row nowrap;
    padding: 8px 11px;
    width: 100%;

    input {
      margin: 0 12px 0 0;
      padding: 0;
      flex: 1;
      border: none;
      min-width: 200px;
      display: block;

      &::placeholder {
        color: rgba(#000, 0.3);
      }

      &:focus {
        outline: none;
      }
    }

    button {
      margin-left: 8px;
    }
  }

  .linkError {
    padding: 6px 11px;
    color: red;
    font-size: 0.7em;
    position: absolute;
    bottom: -3rem;
    left: 0;
    right: 0;
    height: 0;
    background: #fff;
    border: 1px solid #e9e9ee;
    border-radius: 2px;
    opacity: 0;
    transition:
      height 0.3s ease-in-out,
      opacity 0.3s ease-in-out;

    &.visible {
      height: 32px;
      opacity: 1;
    }
  }
}
