.AudioUploader {
  display: block;
  margin-top: 2rem;

  .draggable {
    margin: 8px 0;
    padding: 8px 0;

    &:hover {
      background: var(--placeholder-color-semi);
    }
  }
}

.sortable {
  background: red;
  padding: 8px 0;
}
