.editorFloatingMenu {
  left: 0;
  position: relative;
  vertical-align: middle;

  button {
    opacity: 0.3;
    vertical-align: text-bottom;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  .menuHolder {
    background: #fff;
    left: 40px;
    position: absolute;
    top: -0.4rem;
    min-width: 64vw;
  }
}
