.editorFloatingMenu {
  left: 0;
  position: relative;
  vertical-align: middle;
  padding-top: 5px;

  button {
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  .menuHolder {
    background: #fff;
    left: 24px;
    position: absolute;
    top: -2px;
    min-width: 64vw;
  }
}

:global(.tippy-box) {
  line-height: 1.3;
}
