.view {
  @include media-breakpoint-up(md) {
    min-height: 600px;
  }

  background: var(--background-color);
  min-height: 550px;
  position: relative;
  justify-content: center;

  input {
    font-size: 1.7rem;
  }

  h4 {
    margin-bottom: 0.6em;
    text-align: left;
  }
}

.signUp {
  .authImage {
    order: 2;
  }

  .authImage::before {
    background: linear-gradient(0deg, rgb(20 20 20 / 80%), rgb(20 20 20 / 80%));
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  & ~ :global(.close-control) {
        // filter: invert(1);
        fill: var(--icon-color-invert);
        color: var(--icon-color);
  }
}

.authImage {
  @include media-breakpoint-down(sm) {
    display: none;
  }

  font-size:1.5rem;
  background: var(--background-color-invert)
    url('https://images.discours.io/unsafe/1600x/production/image/auth-page.jpg') center no-repeat;
  background-size: cover;
  color: var(--default-color-invert);
  display: flex;
  padding: 3em;
  position: relative;

  h2 {
    text-transform: uppercase;
  }

  h4 {
    font-weight: normal;
  }
}

.authImageText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  text-align: left;
  z-index: 1;

  a {
    color: var(--default-color-invert);

    &:hover {
      color: rgb(255 255 255 / 70%);
    }
  }

  &.hidden {
    display: none;
  }
}

.authBenefits {
  flex: 1;
}

.disclaimer {
  font-size:1.2rem;
  color: #9fa1a7;
  margin-bottom: 0;

  a {
    color: var(--default-color-invert) !important;

    &:hover {
      color: rgb(255 255 255 / 60%) !important;
    }
  }
}

.authActions {
  font-size:1.5rem;
  margin-top: 1.6rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;

  a {
    color: #9fa1a7;
  }
}

.auth {
  @include media-breakpoint-up(lg) {
    padding: 4rem !important;
  }

  display: flex;
  flex-direction: column;
  padding: $container-padding-x;
}

.submitButton {
  display: block;
  font-weight: 700;
  margin-top: 36px;
  padding: 1.6rem !important;
  width: 100%;
}

.authControl {
  color: $color-primary;
  margin-top: 1em;
  text-align: center;
}

.authLink {
  font-size:1.6rem;
  cursor: pointer;
  font-weight: 500;
}

.authSubtitle {
  font-size:1.5rem;
  margin-bottom: 1em;
}

.authForm {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;

  h4 {
    font-weight: bold;
    margin-bottom: 1em;
  }
}

.authFormForgetPassword {
  justify-content: center;
}

.validationError {
  position: absolute;
  top: 100%;
  font-size: 12px;
  line-height: 16px;
  margin-top: 0.3em;
  color: var(--danger-color);

  a {
    color: var(--danger-color);
    border-color: #d00820;

    &:hover {
      color: var(--default-color-invert);
      border-color: var(--background-color-invert);
    }
  }

  &.info,
  &.info a {
    color: var(--secondary-color);
    border-color: var(--secondary-color);

  }

}

.title {
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
  color: #141414;
  margin-bottom: 16px;
}

.text {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 52px;
}

.submitError {
  margin: -1rem 0 -2rem;
}
