.GroupAvatar {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 40px;
  height: 40px;
  position: relative;

  .item {
    position: absolute;
  }

  &.two {
    .item {
      border: 1px solid var(--background-color);

      &:nth-child(1) {
        left: 0;
        top: 0;
      }

      &:nth-child(2) {
        right: 0;
        bottom: 0;
        z-index: 1;
      }
    }
  }

  &.three {
    .item {
      &:nth-child(1) {
        left: 14px;
        top: 0;
      }

      &:nth-child(2) {
        left: 0;
        top: 17px;
      }

      &:nth-child(3) {
        right: 0;
        top: 21px;
      }
    }
  }

  &.four {
    .item {
      width: 19px;
      height: 19px;
      min-width: 19px;

      &:nth-child(1) {
        left: 0;
        top: 0;
      }

      &:nth-child(2) {
        right: 0;
        top: 0;
      }

      &:nth-child(3) {
        left: 0;
        bottom: 0;
      }

      &:nth-child(4) {
        right: 0;
        bottom: 0;
      }
    }
  }

  .moreUsers {
    font-size: 0.75rem;
    font-weight: 700;
    position: absolute;
    width: 19px;
    height: 19px;
    overflow: hidden;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--black-100);
    border-radius: 100%;
  }
}
