.backdrop {
  align-items: center;
  display: flex;
  background: rgb(20 20 20 / 90%);
  justify-content: center;
  height: 100%;
  left: 0;
  overflow: auto;
  pointer-events: all;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10003;
}

.modal {
  background: var(--background-color);
  max-width: 1000px;
  position: relative;
  z-index: 1;

  &:not([class*='col-']) {
    @include media-breakpoint-up(sm) {
      width: 80%;
    }

    width: 100%;
  }

  .close {
    @include media-breakpoint-up(sm) {
      right: 2rem;
    }

    position: absolute;
    top: 2rem;
    cursor: pointer;
    height: 1.6rem;
    width: 1.6rem;
    opacity: 1;
    padding: 0;
    right: 2.4rem;
    transition: opacity 0.3s;
    z-index: 1;

    &:hover {
      opacity: 0.5;
    }

    svg {
      display: block;
      pointer-events: none;
    }

    .icon {
      height: 100%;
      width: 100%;
    }
  }

  &.narrow {
    @include media-breakpoint-up(sm) {
      max-width: 600px;
    }

    @include media-breakpoint-up(md) {
      width: 65%;
    }

    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    .close {
      right: 1.6rem;
      top: 1.6rem;
    }

    .modalInner {
      padding: 0;
    }
  }
}

.modalInner {
  @include media-breakpoint-up(sm) {
    padding: 5rem;
  }

  height: 100%;
  overflow: auto;
  padding: 5.4rem 2.4rem 2.4rem;
  position: relative;
  text-align: left;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

.noPadding {
  background: none;
  left: 50%;
  padding: 0;
  transform: translateX(-50%);

  .modalInner {
    padding: 0 2rem;
  }

  .close {
    right: 2rem;
    top: 2rem;
  }
}

.maxHeight {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.modal-search {
  background: #000;

  .modal {
    background: none;
    color: #fff;
    height: 100vh;
    max-width: none;
    padding-top: 10rem;
    width: 100% !important;
  }

  .modalInner {
    padding-left: 0;
    padding-right: 0;
  }

  .close {
        // filter: invert(1);
        fill: var(--icon-color-invert);
        color: var(--icon-color);
    height: 3.2rem;
    right: 0;
    top: 2rem;
    width: 3.2rem;
  }
}

.backdrop.isMobile {
  z-index: 10002;
  top: 56px;
  height: calc(100% - 58px);
  bottom: 0;

  .maxHeight {
    height: 100%;
  }

  .container {
    padding: 0;
    height: 100%;
    min-height: 100%;
  }

  .modalInner {
    padding: 1rem 1rem 0;
    height: 100%;
  }
}
