.topic {
  align-items: flex-start;
  margin-top: 3.2rem;

  .stats & {
    .topicDetailsItem {
      margin-bottom: 1.2rem;
    }
  }
}

.topicInRow {
  align-items: center;
  display: flex;
  justify-content: space-between;

  button {
    margin-top: 0;
  }

  .topicTitle {
    margin-bottom: 0;
  }
}

.topicTitle {
  font-weight: bold;
  @include font-size(2.2rem);

  margin-bottom: 1.2rem;
  margin-top: 0.5rem !important;
}

.topicAvatar {
  border-radius: 100%;
  height: 64px;
  margin-right: 1.2rem;
  min-width: 64px;
  max-width: 64px;
  overflow: hidden;
  position: relative;
  width: 64px;

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.topicDescription {
  @include font-size(1.6rem);

  color: #696969;
  margin: 0 0 1.6rem;

  &.compact {
    font-size: medium;
  }
}

.topicDescriptionShort {
  display: block;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.topicDetails {
  @include font-size(1.7rem);

  color: #9fa1a7;
  display: flex;

  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
  }
}

.topicDetailsItem {
  @include font-size(1.5rem);

  margin-right: 1.6rem;
  white-space: nowrap;

  &:last-child {
    margin-right: 0;
  }

  &.compact {
    font-size: small;
  }

  &.followers {
    word-break: keep-all;
  }

  &.button {
    float: right;
  }
}

.controlContainer {
  @include media-breakpoint-up(md) {
    text-align: right;
  }
}

.topicCompact {
  .topicTitle {
    @include font-size(1.7rem);
  }
}

.buttonCompact {
  margin-top: 0.6rem;
}
