.topicContainer {
  margin-top: 3.6rem;

  li:last-child & {
    border: none;
  }
}

.topic {
  @include media-breakpoint-down(sm) {
    margin: 0;
    position: relative;

    &:not(.topicCompact) {
      .topicDetails {
        order: 2;
      }

      .controlContainer {
        margin: 0;
        position: relative;

        button {
          position: absolute;
          right: 0;
          top: 100%;
        }
      }
    }
  }

  align-items: baseline;
  margin-top: 3.2rem;
}

.topicDetails {
  position: relative;
}

.topicInRow {
  @include media-breakpoint-up(sm) {
    .topicDescription {
      margin-bottom: 0;
    }
  }

  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 0;

  button {
    margin-top: 0;
  }
}

.topicTitle {
  font-size:2.2rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
  margin-top: 0.5rem !important;

  a:link {
    border: none;
  }
}

.topicAvatar {
  border-radius: 100%;
  height: 64px;
  margin-right: 1.2rem;
  min-width: 64px;
  max-width: 64px;
  overflow: hidden;
  position: relative;
  width: 64px;

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.topicDescription {
  font-size:1.4rem;
  font-weight: 500;
  color: #696969;
  line-height: 1.3;
  margin: 0.2rem 0 1.6rem;

  &.topicDescriptionShort {
    display: block;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.controlContainer {
  @include media-breakpoint-up(sm) {
    .topicCompact & {
      text-align: right;
    }
  }

  margin-bottom: 1.6rem;
}

.topicCompact {
  margin-top: 2.4rem;

  .topicTitle {
    font-size:1.6rem;
  }
}

.actionButton {
  border-radius: 0.8rem !important;
  margin-right: 0 !important;
  width: 9em;
}

.isFollowing {
  opacity: 0.5;
}

/*
.isFollowed {
  background: #000;
  color: #fff;
  transition:
    background-color 0.3s,
    color 0.3s;
  white-space: nowrap;
  width: 9em;

  &:hover {
    background: #fff;
    color: #000;

    .buttonUnfollowLabel {
      display: block;
    }

    .buttonSubscribedLabel {
      display: none;
    }
  }

  .buttonUnfollowLabel {
    display: none;
  }
}
*/

.cardMode {
  margin-bottom: 0;
}
