h3::first-letter {
  text-transform: capitalize;
}

.all-materials {
  @include media-breakpoint-up(sm) {
    text-align: right;
  }

  align-self: baseline;
  margin-bottom: 1em;
  white-space: nowrap;

  a {
    border: none;
  }

  .icon {
    display: inline-block;
    height: 0.8em;
    vertical-align: middle;
    width: 0.8em;
  }

  img {
    vertical-align: top;
  }
}
