.topicHeader {
  @include font-size(1.7rem);

  padding-top: 2.8rem;
  text-align: center;

  h1 {
    color: #2638d9;
    font-weight: 500;
    text-transform: uppercase;

    @include font-size(2rem);
  }
}

.topicActions {
  margin-top: 2.8rem;

  button,
  a {
    background: #000;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 100%;
    margin: 0 1.2rem;
    padding: 0.8rem 1.6rem;
  }
}
