.topicHeader {
  font-weight: 500;
  padding: 2.8rem $container-padding-x 0;
  text-align: center;

  h1 {
    font-size:2rem;
    color: #2638d9;
    text-transform: uppercase;
  }
}

.topicDescription {
  font-size:1.8rem;
  line-height: 1.4;
  margin: 1rem 0 2rem;
}

.topicActions {
  margin-top: 2.8rem;

  .writeControl {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-width: 64px;
    font-size: 17px;
    padding: 8px 16px;
    border: 1px solid #f7f7f7;
    background: #f7f7f7;
    color: var(--default-color);
    font-weight: 500;
    cursor: pointer;
    margin: 0 1.2rem 1em;
    white-space: nowrap;
  }

  .followControl,
  .writeControl {
    border-radius: 0.8rem;
  }
}

.topicDetails {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.topicDetailsItem {
  align-items: center;
  display: flex;
  margin-right: 1rem;
  white-space: nowrap;
}

.topicDetailsIcon {
  display: block;
}
