.VideoPlayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  position: relative;

  &.articleView {
    @include media-breakpoint-up(md) {
      margin: 1rem -16.6666% 2rem -25%;
    }
  }

  .controls {
    display: flex;
    flex-direction: row;
    margin-top: auto;
  }

  .deleteAction {
    position: absolute;
    top: -15px;
    right: -15px;
    padding: 0;
    min-width: 30px;
  }

  .deleteIcon {
        // filter: invert(1);
        fill: var(--icon-color-invert);
        color: var(--icon-color);
  }

  .videoContainer {
    width: 100%;
    aspect-ratio: 16/9;

    iframe {
      height: 100%;
      width: 100%;
    }
  }
}
