@use 'sass:math';

.Topics {
  @include media-breakpoint-down(sm) {
    padding: 0 math.div($container-padding-x, 2);
  }

  @include media-breakpoint-up(md) {
    font-size:1.4rem;
  }

  font-size: 1.6rem;
  height: 6rem;
  line-height: 6rem;
  margin-bottom: 3rem;
  overflow: hidden;
  position: relative;
  transform: translateY(-2px);

  .list {
    @include media-breakpoint-up(lg) {
      flex-wrap: wrap;
      overflow: hidden;
      padding-right: 7em;
    }

    display: flex;
    font-weight: 500;
    list-style: none;
    margin-top: 0;
    overflow: auto;
    padding: 0;
    position: relative;
  }

  .item {
    margin-right: 2.4rem;

    &.right {
      @include media-breakpoint-up(lg) {
        display: block;
      }

      display: none;
      margin-right: 0;
      position: absolute;
      right: 0;
      top: 0;
      white-space: nowrap;

      :global(.icon) {
        display: inline-block;
        margin-left: 0.3em;
        top: 0.15em;
      }
    }

    a {
      border-bottom: unset;

      &.selected {
        font-weight: 500;
        border-bottom: 2px solid var(--default-color);
      }

      &:hover {
        .icon {
        // filter: invert(1);
        fill: var(--icon-color-invert);
        color: var(--icon-color);
        }
      }
    }

    .icon {
      display: inline-block;
      margin-left: 0.3em;
      position: relative;
      top: 0.15em;
    }
  }
}

.rightItem {
  margin-right: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.rightItemIcon {
  display: inline-block;
  margin-left: 0.3em;
  position: relative;
  top: 0.15em;
}
