.commentDates {
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
  font-size: 1.2rem;

  .date {
    font-weight: 500;
    margin-right: 1rem;
    position: relative;
  }

  &.showOnHover {
    .text {
      position: absolute;
      left: 1.5rem;
      top: 0.2rem;
      opacity: 0;
      white-space: nowrap;
      transition: opacity 0.3s ease-in-out;
    }

    .icon {
      cursor: pointer;

      &:hover + .text {
        opacity: 1;
        left: 1.5rem;
      }
    }
  }
}

.commentDatesLastInRow {
  margin-right: 0;
  white-space: nowrap;
}
