.navigationHeader {
  font-size:1.8rem;
  font-weight: bold;
  margin-top: 1.1em;
}

.navigation {
  @include media-breakpoint-down(md) {
    display: flex;

    li {
      margin-right: 2.4rem;
    }
  }

  font-size:1.4rem;

  a {
    border: none;
  }

  .active {
    a {
      border-bottom: 2px solid;
      cursor: inherit;
      font-weight: bold;
      pointer-events: none;
      text-decoration: none;
    }
  }
}
