.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;

  &:disabled {
    opacity: 1 !important;
  }

  &.primary {
    background: var(--background-color-invert);
    color: var(--default-color-invert);

    &:hover {
      background: #404040;
      color: #fff;
    }

    &:active {
      background: #000;
      color: rgb(255 255 255 / 40%);
    }

    &:disabled {
      background: var(--background-color-invert);
      color: rgb(255 255 255 / 40%);
    }
  }

  &.primary-disabled {
    background: var(--background-color-invert);
    color: rgb(255 255 255 / 40%);
    pointer-events: none;
  }

  &.secondary {
    border: 2px solid #f7f7f8;
    background: #f7f7f8;
    color: #000;

    &:hover {
      background: #e9e9ee;
      color: #000;
    }

    &:active {
      background: #f7f7f8;
      color: rgb(105 105 105 / 40%);
    }

    &:disabled {
      border: 2px solid #696969;
      color: #696969;
    }
  }

  &.secondary-disabled {
    border: 2px solid #696969;
    color: #696969;
    pointer-events: none;
  }

  &.bordered {
    min-width: auto !important;
    background: var(--link-color);
    color: var(--link-hover-color);
    border-radius: 8px;
    border: 2px solid #000;

    &:hover {
      background: none;
      color: #000;
      transition: all 100ms ease-in;
    }

    &:not(:hover) {
      transition: all 80ms ease-out;
    }

    &:active {
      border: 2px solid #696969;
      color: #696969;
    }
  }

  &.outline {
    min-width: auto !important;
    border: 2px solid #000;

    &:hover {
      background: var(--link-color);
      color: var(--link-hover-color);
      transition: all 100ms ease-in;
    }

    &:not(:hover) {
      transition: all 80ms ease-out;
    }

    &:active {
      color: rgb(255 255 255 / 40%)
    }
  }

  &.primary-square {
    background: var(--background-color-invert);
    color: var(--default-color-invert);

    &:hover {
      color: #ccc;
    }

    &:active {
      color: #9fa1a7;
    }

    &:disabled {
      border-radius: 2px;
      background: #f7f7f8;
      color: #9fa1a7;
    }
  }

  &.secondary-square {
    background: #f7f7f7;
    color: #141414;

    &:hover {
      background: #e9e9ee;
    }

    &:active {
      background: #ccc;
    }

    &:disabled {
      border-radius: 2px;
      background: #f7f7f8;
      color: #9fa1a7;
    }
  }

  &.disabled {
    border-radius: 2px;
    background: #f7f7f8;
    color: #9fa1a7;
    pointer-events: none;
  }

  &.L {
    height: 50px;
    min-width: 112px;
    border-radius: 14px;
    font-size: 16px;
    padding: 0 30px;
  }

  &.M {
    height: 40px;
    min-width: 89px;
    border-radius: 12px;
    font-size: 15px;
    padding: 0 20px;
  }

  &.S {
    height: 32px;
    min-width: 82px;
    border-radius: 8px;
    font-size: 14px;
    padding: 0 18px;
  }

  &.M-square {
    min-width: 80px;
    height: 56px;
    border-radius: 2px;
    font-size: 20px;
    padding: 16px 20px;
  }

  &.S-square {
    min-width: 63px;
    height: 37px;
    border-radius: 2px;
    font-size: 16px;
    padding: 8px 16px;
  }

  &.XS-square {
    min-width: 51px;
    height: 30px;
    border-radius: 2px;
    font-size: 14px;
    padding: 6px 12px;
  }

  &.loadingDots {
    display: inline-flex;
    align-items: center;
    font-size: 30px;

    & span {
      animation: blink 2s infinite;

      &:nth-child(1) {
        animation-delay: 0s;
      }

      &:nth-child(2) {
        animation-delay: 0.2s;
      }

      &:nth-child(3) {
        animation-delay: 0.4s;
      }

      @keyframes blink {
        0%, 50%, 100% {
          opacity: 0;
        }

        10%, 30% {
          opacity: 1;
        }
      }
    }
  }
}



