.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;

  //&:disabled {
  //  opacity: 1 !important;
  //}

  &.primary {
    background: var(--background-color-invert);
    color: var(--default-color-invert);

    &:hover {
      background: #404040;
      color: #fff;
    }

    &:active {
      background: #000;
      color: rgb(255 255 255 / 40%);
    }

    &:disabled {
      background: var(--background-color-invert);
      color: rgb(255 255 255 / 40%);
    }
  }

  &.secondary {
    border: 0.2rem solid #f7f7f8;
    background: #f7f7f8;
    color: #000;

    &:hover {
      border: 0.2rem solid #e9e9ee;
      background: #e9e9ee;
      color: #000;
    }

    &:active {
      border: 0.2rem solid #f7f7f8;
      background: #f7f7f8;
      color: rgb(105 105 105 / 40%);
    }

    &:disabled {
      border: 0.2rem solid #696969;
      color: #696969;
    }
  }

  &.primary-square :global(.button--square-primary) {

  }

  &.secondary-square :global(.button--square-secondary) {

  }

  &.M-square :global(.button--square-M) {
    min-width: 8rem;
  }

  &.S-square :global(.button--square-S) {
    min-width: 6.3rem;
  }

  &.XS-square :global(.button--square-XS){
    min-width: 5.1rem;
  }

  &.subscribeButton {
    min-width: auto !important;
    background: var(--link-color);
    color: var(--link-hover-color);
    border: 2px solid #000;
    border-radius: 8px;

    &:hover {
      background: none;
      color: #000;
      transition: all 100ms ease-in;
    }

    &:not(:hover) {
      transition: all 80ms ease-out;
    }

    &:active {
      border: 2px solid #696969;
      color: #696969;
    }
  }

  &.unsubscribeButton {
    min-width: auto !important;
    border: 2px solid #000;
    border-radius: 8px;

    &:hover {
      background: var(--link-color);
      color: var(--link-hover-color);
      transition: all 100ms ease-in;
    }

    &:not(:hover) {
      transition: all 80ms ease-out;
    }

    &:active {
      color: rgb(255 255 255 / 40%)
    }
  }

  &.L :global(.button--L){
    min-width: 11.2rem;
  }

  &.M :global(.button--M) {
    min-width: 8.9rem;
  }

  &.S :global(.button--S) {
    min-width: 8.2rem;
  }

  &.loadingDots {
    display: inline-flex;
    align-items: center;
    font-size: 50px;

    & span {
      position: relative;
      bottom: 9px;
      animation: blink 2s infinite;

      &:nth-child(1) {
        animation-delay: 0s;
      }

      &:nth-child(2) {
        animation-delay: 0.2s;
      }

      &:nth-child(3) {
        animation-delay: 0.4s;
      }

      @keyframes blink {
        0%, 50%, 100% {
          opacity: 0;
        }

        10%, 30% {
          opacity: 1;
        }
      }
    }
  }
}



