.editorFloatingMenu {
  left: 0;
  position: relative;
  vertical-align: middle;
  padding-top: 5px;

  .actionButton {
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  .menuHolder {
    left: 24px;
    position: absolute;
    top: -4px;
    min-width: 64vw;

    .innerMenu {
      display: flex;
      flex-direction: row;

      .icon {
        opacity: 0.5;
        display: block;
        transition: opacity 0.3s ease-in-out;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

}