.FullBubbleMenu {
  display: flex;
  background-color: var(--background-color);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 0 1px var(--shadow-color-light), 0 10px 20px var(--shadow-color-medium);

  &.growWidth {
    min-width: 460px;
  }

  .actionButton {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.2s;

    &:hover,
    &.buttonActive {
      opacity: 1;
    }

    .triangle {
      margin-left: 4px;
    }

    .toggleHighlight {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #f6e3a1;
    }

    img {
      filter: var(--icon-filter);
    }
  }

  .noWrap {
    white-space: nowrap;
  }

  .delimiter {
    background: var(--secondary-color);
    display: inline-block;
    margin: 0 0.2em;
    vertical-align: middle;
    width: 1px;
  }

  .dropDownHolder {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;

    .dropDown {
      position: absolute;
      padding: 6px;
      top: calc(100% + 8px);
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0 4px 10px rgb(0 0 0 / 25%);
      background: var(--background-color);
      color: var(--default-color);

      &>header {
        font-size: 10px;
        border-bottom: 1px solid #898c94;
      }

      .actions {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 12px;
        flex-wrap: nowrap;
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }

        .bubbleMenuButton {
          min-width: 40px;
        }
      }
    }
  }

  .dropDownEnter,
  .dropDownExit {
    height: 0;
    color: transparent;
  }
}