.MicroBubbleMenu {
    display: flex;
    background-color: var(--background-color);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px var(--shadow-color-light), 0 10px 20px var(--shadow-color-medium);

    .bubbleMenuButton {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      cursor: pointer;
      opacity: 0.5;
      transition: opacity 0.2s;

      &:hover,
      &.bubbleMenuButtonActive {
        opacity: 1;
      }
    }

    .noWrap {
      white-space: nowrap;
    }

    &.noBorders {
      border: 0 !important;
      box-shadow: none !important;
      border-radius: 0 !important;
    }
  }