.MicroBubbleMenu {
    display: flex;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 5%), 0 10px 20px rgb(0 0 0 / 10%);

    .bubbleMenuButton {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      cursor: pointer;
      opacity: 0.5;
      transition: opacity 0.2s;

      &:hover,
      &.bubbleMenuButtonActive {
        opacity: 1;
      }
    }

    .noWrap {
      white-space: nowrap;
    }
  }