.actionButton {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    transition: opacity ease-in-out 0.3s;

    &.active,
    &:hover {
      opacity: 1;
    }

    .nwrp {
      display: inline-block;
      white-space: nowrap;
    }

    .triangle {
      margin-left: 4px;
    }

    .toggleHighlight {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: var(--yellow);
    }

    img {
      filter: var(--icon-filter);
    }
}
