.view {
  background: #fff;
  min-height: 550px;
  position: relative;

  @include media-breakpoint-up(md) {
    min-height: 710px;
  }

  input {
    font-size: 1.7rem;
  }

  h4 {
    margin-bottom: 0.6em;
    text-align: left;
  }
}

.signUp {
  .authImage {
    order: 2;
  }

  .authImage::before {
    background: linear-gradient(0deg, rgb(20 20 20 / 80%), rgb(20 20 20 / 80%));
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  & ~ :global(.close-control) {
    filter: invert(1);
  }
}

.authImage {
  @include font-size(1.5rem);

  background: #141414 url('/auth-page.jpg') center no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  padding: 3em;
  position: relative;

  @include media-breakpoint-down(sm) {
    display: none;
  }

  h2 {
    text-transform: uppercase;
  }

  h4 {
    font-weight: normal;
  }
}

.authImageText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  text-align: left;
  z-index: 1;

  a {
    color: #fff;

    &:hover {
      color: rgb(255 255 255 / 70%);
    }
  }

  &.hidden {
    display: none;
  }
}

.authBenefits {
  flex: 1;
}

.disclaimer {
  @include font-size(1.2rem);
  color: #9fa1a7;
  margin-bottom: 0;
}

.authActions {
  @include font-size(1.5rem);

  margin-top: 1.6rem;
  text-align: center;

  a {
    color: #9fa1a7;
  }
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $container-padding-x;

  @include media-breakpoint-up(lg) {
    padding: 10rem 6rem;
  }
}

.submitButton {
  display: block;
  font-weight: 700;
  padding: 1.6rem !important;
  width: 100%;
  margin-top: 32px;
}

.authControl {
  color: $link-color;
  margin-top: 1em;
  text-align: center;
}

.authLink {
  cursor: pointer;
}

.authSubtitle {
  @include font-size(1.5rem);

  margin: 1em;
}

.authInfo {
  min-height: 5em;
  font-weight: 400;
  font-size: smaller;

  .warn {
    color: #a00;
  }
}

.validationError {
  position: relative;
  top: -8px;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 8px;

  &.registerPassword {
    margin-bottom: -32px;
  }

  /* Red/500 */
  color: #d00820;

  a {
    color: #d00820;
    border-color: #d00820;

    &:hover {
      color: white;
      border-color: black;
    }
  }
}

.passwordToggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.passwordToggleIcon {
  height: 1.6em;
  display: inline-block;
  margin-right: 0.2em;
  max-width: 1.4em;
  max-height: 1.4em;
  transition: filter 0.2s;
  vertical-align: middle;
}

.title {
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
  color: #141414;
  margin-bottom: 16px;
}

.text {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 52px;
}
