.container {
  border-bottom: 1px solid #141414;
  border-top: 1px solid #141414;
  margin-top: 1em;
  padding: 0.8em 0 1em;
}

.text {
  @include font-size(1.5rem);

  margin-bottom: 1em;
  text-align: center;
}

.social {
  background-color: white;
  display: flex;
  margin: 0 -5px;

  > * {
    background-color: #f7f7f7;
    cursor: pointer;
    flex: 1;
    margin: 0 5px;
    padding: 0.5em;
    text-align: center;
  }

  img {
    height: 1em;
    max-width: 1.8em;
    vertical-align: middle;
    width: auto;
  }

  a {
    border: none !important;
  }

  .githubAuth:hover {
    img {
      filter: invert(1);
    }
  }
}
