.commentEditor {
  .textarea {
    background: #9fa1a7;
    min-height: 4rem;
    margin-bottom: 1rem;
  }

  .actions {
    border: 1px solid cadetblue;
    display: flex;
    flex-direction: column;

    .menu {
      background: red;
      min-height: 4rem;
    }
  }
}
