.created {
  @include font-size(1.2rem);

  line-height: 1.5rem;
  margin-bottom: 20px;

  .icon {
    height: 1.2rem;
    display: inline-block;
    vertical-align: middle;
  }
}

.titleContainer {
  @include font-size(2.6rem);

  line-height: 3.2rem;
  margin-bottom: 28px;
}

.title {
  font-weight: 700;
}

.actions {
  @include font-size(1.2rem);

  a {
    border: 0;
    display: inline-block;
  }

  a + a {
    margin-left: 12px;
  }

  .deleteLink {
    color: #d00820;
  }

  .publishLink {
    color: #2bb452;
  }
}
