.draft {
  margin-bottom: 56px;
}

.created {
  font-size:1.2rem;
  line-height: 1.5rem;
  margin-bottom: 20px;

  .icon {
    height: 1.2rem;
    display: inline-block;
    vertical-align: middle;
  }
}

.titleContainer {
  font-size:2.6rem;
  line-height: 3.2rem;
  margin-bottom: 28px;
}

.title {
  font-weight: 700;
}

.actions {
  font-size:1.2rem;
  display: flex;
  gap: 12px;

  .actionItem {
    border: 0;
    display: inline-block;
    cursor: pointer;

    &.delete {
      color: #d00820;
    }

    &.publish {
      color: #2bb452;
    }
  }
}
