.placeholder {
  border-radius: 2.2rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  overflow: hidden;
  position: relative;

  h3 {
    font-size: 2.4rem;
  }

  button,
  .button {
    font-size:1.5rem;
    align-items: center;
    border-radius: 1.2rem;
    display: flex;
    gap: 0.6rem;
    justify-content: center;
    margin-top: 3rem;
    padding: 1rem 2rem;
    width: 100%;

    .icon {
      height: 2.4rem;
      width: 2.4rem;
    }
  }
}

.placeholder--feed-mode {
  @include media-breakpoint-up(lg) {
    aspect-ratio: 1 / 0.8;
  }

  flex-direction: column;
  min-height: 40rem;
  text-align: center;

  .placeholderCover {
    flex: 1 100%;
    position: relative;

    &::after {
      bottom: 0;
      content: '';
      height: 20%;
      left: 0;
      position: absolute;
      width: 100%;
    }

    img {
      position: absolute;
    }
  }

  &.placeholder--feedMy .placeholderCover::after {
    background: linear-gradient(to top, #171032, rgb(23 16 50 / 0%));
  }

  &.placeholder--feedCollaborations .placeholderCover::after {
    background: linear-gradient(to top, #070709, rgb(7 7 9 / 0%));
  }
}

.placeholder--profile-mode {
  @include media-breakpoint-down(lg) {
    display: block;
  }

  @include media-breakpoint-up(lg) {
    max-height: 30rem;
    min-height: auto;
  }

  min-height: 40rem;

  .placeholderCover {
    @include media-breakpoint-up(lg) {
      order: 2;
      position: static;
    }

    flex: 1;
    padding: 1.6rem;

    img {
      @include media-breakpoint-up(lg) {
        object-position: right;
      }

      aspect-ratio: 16/10;
      min-width: 40rem;
      object-fit: contain;
      width: 100%;
    }
  }

  .placeholderContent {
    @include media-breakpoint-up(md) {
      font-size: 1.6rem;
      padding: 3rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 2rem;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.4rem;
    line-height: 1.2;
    min-width: 60%;
    padding: 0 2rem 2rem;
  }

  h3 {
    font-size:3.8rem;
  }

  .button {
    @include media-breakpoint-up(lg) {
      left: auto;
      position: absolute;
      width: auto;
    }

    background: var(--background-color-invert);
    bottom: 2rem;
    color: var(--default-color-invert);
    font-size: 1.6rem;
    left: 2rem;
    right: 2rem;
    width: 100%;

    .icon {
        // filter: invert(1);
        fill: var(--icon-color-invert);
        color: var(--icon-color);
    }
  }
}

.placeholderCover {
  position: relative;

  img {
    left: 0;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.placeholderContent {
  @include media-breakpoint-down(lg) {
    br {
      display: none;
    }
  }

  padding: 1.6rem;
}

.placeholder--feedMy,
.placeholder--feedCollaborations {
  color: var(--default-color-invert);

  button,
  .button {
    background: var(--background-color);
    color: var(--default-color);
  }
}

.placeholder--feedMy {
  background: #171032;

  .placeholderCover {
    img {
      object-position: top;
    }
  }
}

.placeholder--feedCollaborations {
  background: #070709;

  .placeholderCover {
    img {
      object-position: bottom;
    }
  }
}

.placeholder--feedDiscussions {
  background: #E9E9EE;

  .placeholderCover {
    padding: 2rem;
    text-align: center;

    img {
      height: 90%;
      mix-blend-mode: multiply;
      object-fit: contain;
      top: 10%;
    }
  }

  button,
  .button {
    background: var(--background-color-invert);
    color: var(--default-color-invert);
  }
}


.placeholder--author {
  background: #E58B72;
}

.placeholder--authorComments {
  background: #E9E9EE;

  .placeholderCover {
    img {
      mix-blend-mode: multiply;
    }
  }
}

.bottomLinks {
  @include media-breakpoint-down(sm) {
    flex-direction: column;
    gap: 1.4rem;
  }

  font-size:1.6rem;
  display: flex;
  gap: 4rem;

  a {
    border: none !important;
    padding-left: 2.6rem;
    position: relative;

    &:hover {
      .icon {
        filter: none;
      }
    }
  }

  .icon {
        // filter: invert(1);
        fill: var(--icon-color-invert);
        color: var(--icon-color);
    height: 1.8rem;
    left: 0;
    position: absolute;
    transition: filter 0.2s;
    width: 1.8rem;
  }
}
