<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <div style="margin: 0px auto; max-width: 600px">
      <table
        align="center"
        border="0"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
        style="width: 100%"
      >
        <tbody>
          <tr>
            <td style="direction: ltr; font-size: 0px; padding: 20px 0px 20px 0px; text-align: center">
              <div
                class="m_-9078575411558913025mj-column-per-100"
                style="
                  font-size: 0px;
                  text-align: left;
                  direction: ltr;
                  display: inline-block;
                  vertical-align: top;
                  width: 100%;
                "
              >
                <table
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  role="presentation"
                  style="vertical-align: top"
                  width="100%"
                >
                  <tbody>
                    <tr>
                      <td style="font-size: 0px; padding: 0px; word-break: break-word">
                        <div
                          style="
                            font-family: Arial, sans-serif;
                            font-size: 13px;
                            letter-spacing: normal;
                            color: #000000;
                          "
                        >
                          <div style="text-align: center">
                            <img
                              src="https://new.discours.io/logo.png"
                              width="175"
                              height="32"
                              alt="Дискурс"
                            />
                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td
                        align="center"
                        style="font-size: 0px; padding: 10px 25px 10px 25px; word-break: break-word"
                      >
                        <p
                          style="
                            border-top: solid 4px #000000;
                            font-size: 1px;
                            margin: 0px auto;
                            width: 100%;
                          "
                        ></p>
                      </td>
                    </tr>

                    <tr>
                      <td
                        align="left"
                        style="font-size: 0px; padding: 0px 25px 0px 25px; word-break: break-word"
                      >
                        <h1 style="margin-top: 15px; margin-bottom: 5px">
                          <span
                            style="
                              color: #000000;
                              font-family: Helvetica, Arial, sans-serif;
                              font-size: 24px;
                            "
                          >
                            Здравствуйте!
                          </span>
                        </h1>
                      </td>
                    </tr>

                    <tr>
                      <td
                        align="left"
                        style="font-size: 0px; padding: 10px 25px; padding-top: 0px; padding-bottom: 0px"
                      >
                        <div
                          style="
                            font-family: Helvetica, Arial, sans-serif;
                            font-size: 17px;
                            text-align: left;
                            color: #000000;
                          "
                        >
                          <p style="margin: 15px 0">
                            Кто-то попросил сбросить пароль от вашего аккаунта.Надеемся, это были вы.
                          </p>

                          <p style="margin: 15px 0">
                            Чтобы сменить пароль для входа в редакцию, просто перейдите по
                            <a href="{{verification_url}}" style="color: #2638d9; font-weight: bold">
                              этой ссылке</a>. Она сработает всего один раз и приведет вас на страницу, где вы сможете
                            установить новый пароль.
                          </p>

                          <p style="margin: 15px 0">
                            Если вы не запрашивали сброс пароля, просто не обращайте внимания на это письмо.
                            Ваш аккаунт останется в безопасности.Кто-то попросил сбросить пароль от вашего
                            аккаунта. Надеемся, это были вы.
                          </p>

                          <p style="margin: 15px 0">
                            Чтобы сменить пароль для входа в редакцию, просто перейдите по этой ссылке. Она
                            сработает всего один раз и приведет вас на страницу, где вы сможете установить
                            новый пароль.
                          </p>

                          <p style="margin: 15px 0">
                            Если вы не запрашивали сброс пароля, просто не обращайте внимания на это письмо.
                            Ваш аккаунт останется в безопасности.
                          </p>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td
                        align="center"
                        style="
                          background: transparent;
                          font-size: 0px;
                          padding: 30px 25px 10px 25px;
                          word-break: break-word;
                        "
                      >
                        <table
                          border="0"
                          cellpadding="0"
                          cellspacing="0"
                          role="presentation"
                          style="border-collapse: separate; line-height: 100%"
                        >
                          <tbody>
                            <tr>
                              <td
                                align="center"
                                bgcolor="#ffffff"
                                role="presentation"
                                style="border: 3px solid #2638d9; border-radius: 40px; background: #ffffff"
                                valign="middle"
                              >
                                <a
                                  href="{{verification_url}}"
                                  style="
                                    display: inline-block;
                                    background: #ffffff;
                                    color: #ffffff;
                                    font-family: Helvetica, Arial, sans-serif;
                                    font-size: 17px;
                                    font-weight: normal;
                                    line-height: 120%;
                                    margin: 0;
                                    text-decoration: none;
                                    text-transform: none;
                                    padding: 10px 25px 10px 25px;
                                    border-radius: 40px;
                                  "
                                  target="_blank"
                                >
                                  <span
                                    style="
                                      background-color: transparent;
                                      color: #2638d9;
                                      font-family: Roboto, Helvetica, Arial, sans-serif;
                                      font-size: 17px;
                                    "
                                  >
                                    <b>Восстановить пароль</b>
                                  </span>
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>

                    <tr>
                      <td
                        align="center"
                        style="font-size: 0px; padding: 30px 25px 10px 25px; word-break: break-word"
                      >
                        <p
                          style="
                            border-top: solid 4px #000000;
                            font-size: 1px;
                            margin: 0px auto;
                            width: 100%;
                          "
                        ></p>
                      </td>
                    </tr>

                    <tr>
                      <td
                        align="left"
                        style="
                          font-size: 0px;
                          padding: 10px 25px;
                          padding-top: 0px;
                          padding-bottom: 0px;
                          word-break: break-word;
                        "
                      >
                        <p
                          style="
                            text-align: center;
                            margin: 10px 0;
                            line-height: 1;
                            font-family: Helvetica, Arial, sans-serif;
                            font-size: 20px;
                          "
                        >
                          <b>Ваш Дискурс</b>
                        </p>
                      </td>
                    </tr>

                    <tr>
                      <td style="font-size: 0px; padding: 0px; word-break: break-word">
                        <div
                          style="
                            font-family: Arial, sans-serif;
                            font-size: 13px;
                            letter-spacing: normal;
                            line-height: 1;
                            color: #000000;
                          "
                        >
                          <div style="text-align: center">
                            <a
                              href="https://facebook.com/discoursio"
                              style="
                                background: #000;
                                display: inline-block;
                                width: 32px;
                                height: 32px;
                                line-height: 32px;
                                border-radius: 100%;
                                vertical-align: top;
                              "
                              target="_blank"
                            >
                              <img
                                src="https://new.discours.io/icons/facebook-white.png"
                                style="width: auto; height: 60%; min-height: 0; vertical-align: middle"
                                class="CToWUd"
                                data-bit="iit"
                              />
                            </a>
                            <a
                              href="https://vk.com/discoursio"
                              style="
                                background: #000;
                                display: inline-block;
                                width: 32px;
                                height: 32px;
                                line-height: 32px;
                                border-radius: 100%;
                                vertical-align: top;
                              "
                              target="_blank"
                            >
                              <img
                                src="https://new.discours.io/icons/vk-white.png"
                                style="width: 65%; height: auto; min-height: 0; vertical-align: middle"
                                class="CToWUd"
                                data-bit="iit"
                              />
                            </a>
                            <a
                              href="https://telegram.me/discoursio"
                              style="
                                background: #000;
                                display: inline-block;
                                width: 32px;
                                height: 32px;
                                line-height: 32px;
                                border-radius: 100%;
                                vertical-align: top;
                              "
                              target="_blank"
                            >
                              <img
                                src="https://new.discours.io/icons/telegram-white.png"
                                style="width: 55%; height: auto; min-height: 0; vertical-align: middle"
                                class="CToWUd"
                                data-bit="iit"
                              />
                            </a>
                            <a
                              href="https://twitter.com/discours_io"
                              style="
                                background: #000;
                                display: inline-block;
                                width: 32px;
                                height: 32px;
                                line-height: 32px;
                                border-radius: 100%;
                                vertical-align: top;
                              "
                              target="_blank"
                            >
                              <img
                                src="https://new.discours.io/icons/twitter-white.png"
                                style="width: 56%; height: auto; min-height: 0; vertical-align: middle"
                                class="CToWUd"
                                data-bit="iit"
                              />
                            </a>
                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td
                        align="center"
                        style="font-size: 0px; padding: 15px 25px 15px 25px; word-break: break-word"
                      >
                        <p
                          style="
                            border-top: solid 4px #000000;
                            font-size: 1px;
                            margin: 0px auto;
                            width: 100%;
                          "
                        ></p>
                      </td>
                    </tr>

                    <tr>
                      <td
                        align="left"
                        style="font-size: 0px; padding: 0px 50px 0px 50px; word-break: break-word"
                      >
                        <div
                          style="
                            font-family: Helvetica, Arial, sans-serif;
                            font-size: 13px;
                            letter-spacing: normal;
                            line-height: 1;
                            text-align: left;
                            color: #000000;
                          "
                        >
                          <p style="text-align: center; margin: 10px 0">
                            <span style="color: #696969; font-family: Helvetica, Arial, sans-serif">
                              Вы получили это письмо, потому что вы — участник Дискурса.
                            </span>
                            <br />
                            <span style="color: #696969; font-family: Helvetica, Arial, sans-serif">
                              Если не больше хотите получать такие письма, вы можете
                            </span>
                            <a style="color: inherit" href="http://email.discours.io/" target="_blank">
                              <span style="color: #696969; font-family: Helvetica, Arial, sans-serif">
                                <b>отписаться</b>
                              </span>
                            </a>
                            <span style="color: #696969; font-family: Helvetica, Arial, sans-serif">
                              от&nbsp;рассылки (но лучше не стоит!) или
                            </span>
                            <a style="color: inherit" href="http://email.discours.io/" target="_blank">
                              <span style="color: #696969; font-family: Helvetica, Arial, sans-serif">
                                <b>настроить</b>
                              </span>
                            </a><span style="color: #696969; font-family: Helvetica, Arial, sans-serif">, какие письма хотите получать здесь.</span>
                          </p>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
