.form {
  @include media-breakpoint-down(xxl) {
    margin-bottom: 2.4rem;
  }

  display: flex;
  flex-direction: column;
}

.controls {
  @include media-breakpoint-down(xxl) {
    flex-direction: column;
  }

  display: flex;
  width: 100%;

  .input {
    @include media-breakpoint-up(xxl) {
      border-right: none;
    }

    @include media-breakpoint-down(xxl) {
      border-bottom: none;
    }

    font-size:2rem;
    background: none;
    color: #fff;
    font-family: inherit;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.2em 0.5em;
    width: 100%;
    outline: none;
    border: 1px solid #fff;
    border-radius: 0;
    height: 4rem;

    &::placeholder {
      color: #858585;
    }
  }

  .button {
    @include media-breakpoint-down(xxl) {
      width: 100%;
    }

    border-radius: 0;
    flex-shrink: 0;
  }
}

.error {
  position: relative;
  top: 4px;
  font-size: 12px;
  line-height: 16px;
  color: #d00820;
}

.mobileSubscription {
  margin-bottom: 5rem;

  input[type='email'] {
    background: #f7f7f8;
    border: none;
    border-radius: 1.6rem;
    padding-right: 5.6rem;

    &:not(:placeholder-shown) {
      & ~ .mobileSubscriptionSubmit {
        display: block;
      }
    }
  }
}

.mobileSubscriptionSubmit {
  aspect-ratio: 1/1;
  display: none;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;

  img {
    aspect-ratio: 1/1;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: 16px !important;
  }
}
