.VotersList {
  .users {
    margin: 0;
    min-width: 220px;
    max-height: 360px;
    overflow: auto;
  }

  .item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .user {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin-right: 1.2rem;

      a:link {
        text-decoration: none;
        border: none;

        &:hover {
          background: #000;
          color: #fff;
        }
      }

      .userpic {
        margin-right: 0.8rem;
      }
    }
  }

  .commentRatingPositive {
    color: #2bb452;
  }

  .commentRatingNegative {
    color: #d00820;
  }

  .fallbackMessage {
    font-size: 1.2rem;
  }
}
