.commentDates {
  color: var(--secondary-color);
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  font-size: 0.8rem;
  margin-top: 0.25rem;

  .date {
    font-weight: 400;
    margin-right: 0.5rem;
    position: relative;
    opacity: 0.8;
  }

  &.showOnHover {
    .text {
      position: absolute;
      left: 1.5rem;
      top: 0.2rem;
      opacity: 0;
      white-space: nowrap;
      transition: opacity 0.3s ease-in-out;
    }

    .icon {
      cursor: pointer;

      &:hover + .text {
        opacity: 1;
        left: 1.5rem;
      }
    }
  }
}

.commentDatesLastInRow {
  margin-right: 0;
  white-space: nowrap;
}
