.cropper-modal {
  background-color: #000 !important;
  opacity: 0.4 !important;
}

.cropper-canvas {
  filter: blur(2px);
}

.cropper-view-box,
.cropper-crop-box,
.cropper-line,
.cropper-point {
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
  background-color: transparent !important;
}

.cropper-crop-box {
  border: 2px solid #000 !important;
  border-radius: 8px;
}

.cropper-view-box,
.cropper-face {
  border-radius: 50%;
}
