.InviteMembers {
  .searchHeader {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    gap: 1rem;
  }

  .field {
    border-bottom: 2px solid var(--background-color-invert);
    display: flex;
    flex-flow: row nowrap;
    padding: 4px 0;
    align-items: center;
    width: 100%;
  }

  .input {
    font-size:1.5rem;
    border: none;
    padding: 0;
    margin: 0;
    flex: 1;

    &::placeholder {
      color: #404040;
    }

    &:focus {
      outline: none;
    }
  }

  .searchButton {
    margin: 0;
  }

  .authors {
    height: 300px;
    overflow: auto;
    margin-top: 1rem;

    .author {
      cursor: pointer;

      &:hover {
        background: var(--black-100);
      }
    }
  }

  .teaser {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .actions {
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
    justify-content: space-between;
  }
}
