.DropdownSelect {
  position: relative;

  .toggler {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid var(--background-color-invert);
    }

    &.isOpen::after {
      transform: rotate(-180deg);
    }
  }

  .listItems {
    position: absolute;
    right: 0;
    padding: 8px 10px;
    min-width: 30vw;
    top: calc(100% + 2px);
    border: 2px solid var(--background-color-invert);
    background: var(--background-color);
    margin: 0;

    li {
      padding: 6px;
      cursor: pointer;
      list-style: none;
      margin: 0;
      transition: 0.3s ease-in-out;

      .title {
        font-size:1.6rem;
        font-weight: 700 !important;
        margin-bottom: 0;
      }

      .description {
        font-size:1.2rem;
        color: var(--default-color);
        opacity: 0.5;
        margin: 6px 0;
      }

      &:hover {
        background: var(--background-color-invert);
        color: var(--default-color-invert);

        .description {
          opacity: 1;
          color: #9fa1a7;
        }
      }
    }
  }
}
