---
import { setLocale } from './stores/ui'
import './styles/app.scss'
import { t } from './utils/intl'

// Setting locale for prerendered content here

const lang = Astro.url.searchParams.get('lang') || 'ru'
console.log('[layout] server locale is', lang)
setLocale(lang)

---
<html lang={lang || 'ru'}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{t('Discours')}</title>
    <script async
      src="https://ackee.discours.io/increment.js"
      data-ackee-server="https://ackee.discours.io"
      data-ackee-domain-id="1004abeb-89b2-4e85-ad97-74f8d2c8ed2d"
    ></script>
  </head>
  <body>
    <slot />
  </body>
</html>


