---
import './styles/app.scss'
import { Seo } from "astro-seo-meta"

const ln = Astro.url.searchParams.get('lng') || 'ru'
const { protocol, host } = Astro.url
const title = ln === 'ru' ? 'Дискурс' : 'Discours'
const imageUrl = Astro.props.imageUrl ?? `${protocol}${host}/public/bonfire.png`
const description = ln === 'ru' ? 'Горизонтальная платформа коллаборативной журналистики' : 'Horizontal collaborative journalistic platform'
---
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <Seo
      title={title}
      icon="favicon.png"
      facebook={{
        image: imageUrl,
        type: "website",
      }}
      twitter={{
        image: imageUrl,
        card: description,
      }}
    />
  </head>
  <body>
    <slot />
  </body>
</html>


