.PassportField {
  .passwordToggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }

  .passwordToggleIcon {
    height: 1.6em;
    display: inline-block;
    margin-right: 0.2em;
    max-width: 1.4em;
    max-height: 1.4em;
    transition: filter 0.2s;
    vertical-align: middle;
  }

  .validationError {
    position: absolute;
    top: 100%;
    font-size: 12px;
    line-height: 16px;
    margin-top: 0.3em;

    /* Red/500 */
    color: orange;

    &.registerPassword {
      margin-bottom: -32px;
    }

    a {
      color: orange;
      border-color: orange;

      &:hover {
        color: var(--default-color-invert);
        border-color: var(--background-color-invert);
      }
    }
  }
}
