---
import '../styles/app.scss'
import { Suspense } from 'solid-js'
import { Header } from '../components/Nav/Header'
import { Footer } from '../components/Discours/Footer'
import { ServerRouterProvider } from '../components/providers/ServerRouterProvider'
import { t } from '../utils/intl'
import { locale as langstore } from '../stores/ui'
import { useStore } from '@nanostores/solid'

const { pathname, search } = Astro.url

// FIXME always returns ru
const locale = useStore(langstore)
---

<ServerRouterProvider href={pathname + search}>
  <html lang={locale() || 'en'}>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/png" href="/favicon.png" />
      <title>{t('Discours')}</title>
    </head>
    <body>
      <Header />
      <main class="main-content">
        <Suspense>
          <slot />
        </Suspense>
      </main>
      <Footer />
    </body>
  </html>
</ServerRouterProvider>
