---
import { setLocale } from '../stores/ui';
import '../styles/app.scss'
import { t } from '../utils/intl'

const lang = Astro.url.searchParams.get('lang') || 'ru'
console.log('[layout] server locale is', lang)
setLocale(lang)

---
<html lang={lang || 'ru'}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{t('Discours')}</title>
  </head>
  <body>
    <slot />
  </body>
</html>


