.TopicBadge {
  margin-bottom: 4.8rem;
  gap: 1rem;

  .content {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
  }

  .basicInfo {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    flex: 1;
    gap: 1rem;
  }

  .info {
    @include font-size(1.4rem);
    border: none;
    //display: flex;
    //flex-direction: column;

    &:hover {
      background: unset;
      color: inherit;

      .title {
        background: var(--background-color-invert);
        color: var(--default-color-invert);
      }
    }

    .title {
      @include font-size(2.2rem);
      font-weight: bold;
    }

    .description {
      @include font-size(1.6rem);
      line-height: 1.4;
      margin: 0.8rem 0;
      -webkit-line-clamp: 3;
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: -1rem;
  }

  .subscribeButton {
    border-radius: 0.8rem !important;
    margin-right: 0 !important;
    width: 9em;
  }
}

.stats {
  @include font-size(1.5rem);

  color: var(--secondary-color);
  display: flex;

  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 0.5em;
  }

  .statsItem {
    @include font-size(1.4rem);

    font-weight: 500;
    margin-right: 1.6rem;
    white-space: nowrap;

    &:last-child {
      margin-right: 0;
    }

    &.followers {
      word-break: keep-all;
    }
  }
}
