<tbody>

  <tr>
    <td align="left" style="font-size: 0px; padding: 0px 25px 0px 25px; word-break: break-word">
      <h1 style="margin-top: 15px; margin-bottom: 5px">
        <span style="
                                                  color: #000000;
                                                  font-family: Helvetica, Arial, sans-serif;
                                                  font-size: 24px;
                                                ">
          Ура, поздравляем!
        </span>
      </h1>
    </td>
  </tr>

  <tr>
    <td align="left" style="
                                              font-size: 0px;
                                              padding: 10px 25px;
                                              padding-top: 0px;
                                              padding-bottom: 0px;
                                              word-break: break-word;
                                            ">
      <div style="
                                                font-family: Helvetica, Arial, sans-serif;
                                                font-size: 17px;
                                                letter-spacing: normal;
                                                text-align: left;
                                                color: #000000;
                                              ">

        <p style="margin: 15px 0">
          Поздравляем! В Дискурсе вышла ваша
          <a href="https://discours.io/{{shout_slug}}" style="color: #2638d9; font-weight: bold">
            первая публикация
          </a>
          , и теперь вы — полноправный участник нашего редакционного сообщества.
        </p>

        <p style="margin: 15px 0">
          Чтобы войти в редакцию, перейдите по
          <a href="https://discours.io/" style="color: #2638d9; font-weight: bold">
            ссылке
          </a>
          и установите пароль для своего аккаунта. После этого вы сможете оформить свой
          профиль.
        </p>

        <p style="margin: 15px 0">
          Дискурс — журнал с горизонтальной редакцией, и решения о том, что публиковать,
          мы принимаем путем прямого голосования. Теперь и вы можете в нем участвовать.
          Следить за новыми материалами, которые присылают в редакцию, можно в общем
          телеграм-чате. Там же мы обсуждаем, как сделать публикации и журнал лучше,
          присоединяйтесь.
        </p>

        <p style="margin: 15px 0">
          О том, как работает редакция, как проходит голосование за новые материалы и как
          быть на связи с коллегами — читайте в гайде
          <a href="https://discours.io/guide" style="color: #2638d9; font-weight: bold">
            «Как устроен Дискурс»
          </a>
          .
        </p>

        <p style="margin: 15px 0">
          Мы очень рады вашему участию и надеемся, что вместе сделаем Дискурс ещё
          интереснее. Если у вас есть вопросы, предложения или идеи, пожалуйста, пишите на
          <a href="https://discours.io/guide" style="color: #2638d9; font-weight: bold">
            welcome@discours.io
          </a>
          . Мы обязательно ответим.
        </p>

        <p style="margin: 15px 0">Удачи и до встреч в Дискурсе!</p>
      </div>
    </td>
  </tr>

  <tr>
    <td align="center" style="
                                              background: transparent;
                                              font-size: 0px;
                                              padding: 30px 25px 10px 25px;
                                              word-break: break-word;
                                            ">
      <table border="0" cellpadding="0" cellspacing="0" role="presentation"
        style="border-collapse: separate; line-height: 100%; width: 100%">
        <tbody>
          <tr>
            <td align="center" bgcolor="#ffffff" role="presentation"
              style="border: 3px solid #2638d9; border-radius: 40px; background: #ffffff" valign="middle">
              <a href="https://new.discours.io/" style="
                                                        display: inline-block;
                                                        background: #ffffff;
                                                        color: #ffffff;
                                                        font-family: Ubuntu, Helvetica, Arial, sans-serif;
                                                        font-size: 17px;
                                                        font-weight: normal;
                                                        line-height: 120%;
                                                        margin: 0;
                                                        text-decoration: none;
                                                        text-transform: none;
                                                        padding: 10px 25px 10px 25px;
                                                        border-radius: 40px;
                                                        width: 100%;
                                                        box-sizing: border-box;
                                                      " target="_blank">
                <span style="
                                                          background-color: transparent;
                                                          color: #2638d9;
                                                          font-family: Roboto, Helvetica, Arial, sans-serif;
                                                          font-size: 17px;
                                                        ">
                  <b>Перейти на главную</b>
                </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>

</tbody>