<tbody>

  <tr>
    <td align="left" style="font-size: 0px; padding: 10px 25px; padding-top: 0px; padding-bottom: 0px">
      <div style="
                                                font-family: Helvetica, Arial, sans-serif;
                                                font-size: 17px;
                                                text-align: left;
                                                color: #000000;
                                              ">
        <p style="margin: 20px 0">
          К публикации
          <a href="https://discours.io/{{shout_slug}}" style="color: #2638d9; font-weight: bold">
            «{{shout_title}}»
          </a>
          пользователь
          <a href="https://discours.io/author/{{commenter_slug}}" style="color: #2638d9; font-weight: bold">
            {{commenter_name}}
          </a>
          оставил новый комментарий:
        </p>
      </div>

      <div style="
                                                background: rgba(38, 56, 217, 0.05);
                                                color: #2638d9;
                                                border-radius: 32px 32px 32px 0;
                                                padding: 32px;
                                                font-family: Helvetica, sans-serif;
                                                font-size: 17px;
                                                margin: 10px 0px;
                                                line-height: 1.4;
                                              ">
        {{comment_body}}
      </div>

      <div style="
                                                font-family: Helvetica, sans-serif;
                                                font-size: 17px;
                                                color: #2638d9;
                                                margin: 0;
                                              ">
        <div style="
                                                  border: 2px solid #2638d9;
                                                  border-radius: 100%;
                                                  display: inline-block;
                                                  height: 56px;
                                                  width: 56px;
                                                  text-align: center;
                                                  line-height: 56px;
                                                  margin: 0 16px 0 0;
                                                ">
          ДБ
        </div>
        {{commenter_name}}
      </div>
    </td>
  </tr>

  <tr>
    <td align="center" style="
                                              background: transparent;
                                              font-size: 0px;
                                              padding: 30px 25px 10px 25px;
                                              word-break: break-word;
                                            ">
      <table border="0" cellpadding="0" cellspacing="0" role="presentation"
        style="border-collapse: separate; line-height: 100%">
        <tbody>
          <tr>
            <td align="center" bgcolor="#ffffff" role="presentation"
              style="border: 3px solid #2638d9; border-radius: 40px; background: #ffffff" valign="middle">
              <a href="http://new.discours.io/{{shout_slug}}#{{comment_id}}" style="
                                                        display: inline-block;
                                                        background: #ffffff;
                                                        color: #ffffff;
                                                        font-family: Ubuntu, Helvetica, Arial, sans-serif;
                                                        font-size: 17px;
                                                        font-weight: normal;
                                                        line-height: 120%;
                                                        margin: 0;
                                                        text-decoration: none;
                                                        text-transform: none;
                                                        padding: 10px 25px 10px 25px;
                                                        border-radius: 40px;
                                                      " target="_blank">
                <span style="
                                                          background-color: transparent;
                                                          color: #2638d9;
                                                          font-family: Roboto, Helvetica, Arial, sans-serif;
                                                          font-size: 17px;
                                                        ">
                  <b>Перейти к комментарию</b>
                </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</tbody>