<tbody>

  <tr>
    <td align="left" style="font-size: 0px; padding: 0px 25px 0px 25px; word-break: break-word">
      <h1 style="margin-top: 15px; margin-bottom: 5px">
        <span style="
                              color: #000000;
                              font-family: Helvetica, Arial, sans-serif;
                              font-size: 24px;
                            ">
          {{username}}, здравствуйте!
        </span>
      </h1>
    </td>
  </tr>

  <tr>
    <td align="left" style="font-size: 0px; padding: 10px 25px; padding-top: 0px; padding-bottom: 0px">
      <div style="
                            font-family: Helvetica, Arial, sans-serif;
                            font-size: 17px;
                            text-align: left;
                            color: #000000;
                          ">
        <p style="margin: 15px 0">
          Это автоматическое письмо для того, чтобы задать новый пароль.
        </p>

        <p style="margin: 15px 0">
          Чтобы сменить пароль для входа в Дискурс, перейдите по
          <a href="{{verification_url}}" style="color: #2638d9; font-weight: bold">
            этой ссылке</a>. Она сработает всего один раз и приведет вас на страницу, где вы сможете
          установить новый пароль.
        </p>

        <p style="margin: 15px 0">
          Если вы не хотели задавать новый пароль, просто не обращайте внимания на это письмо.
          Ваш аккаунт останется в безопасности.
        </p>
      </div>
    </td>
  </tr>

  <tr>
    <td align="center" style="
                          background: transparent;
                          font-size: 0px;
                          padding: 30px 25px 10px 25px;
                          word-break: break-word;
                        ">
      <table border="0" cellpadding="0" cellspacing="0" role="presentation"
        style="border-collapse: separate; line-height: 100%">
        <tbody>
          <tr>
            <td align="center" bgcolor="#ffffff" role="presentation"
              style="border: 3px solid #2638d9; border-radius: 40px; background: #ffffff" valign="middle">
              <a href="{{verification_url}}" style="
                                    display: inline-block;
                                    background: #ffffff;
                                    color: #ffffff;
                                    font-family: Ubuntu, Helvetica, Arial, sans-serif;
                                    font-size: 17px;
                                    font-weight: normal;
                                    line-height: 120%;
                                    margin: 0;
                                    text-decoration: none;
                                    text-transform: none;
                                    padding: 10px 25px 10px 25px;
                                    border-radius: 40px;
                                  " target="_blank">
                <span style="
                                      background-color: transparent;
                                      color: #2638d9;
                                      font-family: Roboto, Helvetica, Arial, sans-serif;
                                      font-size: 17px;
                                    ">
                  <b>Задать новый пароль</b>
                </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</tbody>