.container {
  position: relative;
}

.popup {
  background: #fff;
  border: 2px solid #000;
  top: calc(100% + 8px);
  transform: translateX(-50%);
  opacity: 1;

  @include font-size(1.6rem);

  padding: 2.4rem;
  position: absolute;
  z-index: 10;

  ul {
    margin-bottom: 0;
  }

  li {
    margin-bottom: 1.6rem;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    border: none;
    white-space: nowrap;

    &:hover {
      img {
        filter: invert(0);
      }
    }
  }

  img {
    filter: invert(1);
    max-height: 2rem;
    max-width: 2rem;
    transition: filter 0.3s;
  }

  .icon {
    display: inline-block;
    width: 3.6rem;
  }
}

// TODO: animation
// .popup {
//  opacity: 1;
//  transition: opacity 0.3s;
//  z-index: 1;
//  &.visible {
//    opacity: 0;
//    transition: opacity 0.3s, z-index 0s 0.3s;
//    z-index: -1;
//  }
// }
