.usercontrol {
  align-items: baseline;
  display: flex;
  @include font-size(1.7rem);

  justify-content: flex-end;

  @include media-breakpoint-down(md) {
    padding: divide($container-padding-x, 2);
  }

  .circlewrap {
    margin-right: 0;
  }
}

.usercontrol__item {
  margin-left: divide($container-padding-x, 2);

  @include media-breakpoint-up(sm) {
    margin-left: 3.2rem;
  }

  .circlewrap {
    height: 23px;
    min-width: 23px;
    width: 23px;
  }

  img {
    height: 20px;
    vertical-align: middle;
    width: auto;
  }

  .text-label {
    display: none;
  }
}

.usercontrol__item--write-post {
  @include media-breakpoint-up(lg) {
    .icon {
      display: none;
    }

    .text-label {
      display: inline;
    }
  }
}

.usercontrol__item--inbox,
.usercontrol__item--search {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
