.snackbar {
  min-height: 2px;
  background-color: var(--default-color);
  color: #fff;
  transition: background-color 0.3s;

  &.error {
    background-color: #d00820;
  }
}

.content {
  transition: height 0.3s, color 0.3s;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.enter,
  &.exitTo {
    height: 0;
    color: transparent;
  }
}
