.subnavigation {
  @include font-size(1.5rem);

  height: 3em;
  line-height: 3em;
  margin-bottom: 1.2rem !important;
  overflow: hidden;
  position: relative;

  @include media-breakpoint-down(sm) {
    padding: 0 divide($container-padding-x, 2);
  }

  .topics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-right: 2.2rem;
    margin-top: 0;
    padding: 0;
  }

  .item {
    margin-right: 2.4rem;

    &:last-child {
      margin-right: 0;
    }

    a {
      border-bottom: 0;
    }
  }

  .selected {
    color: black;
  }

  a {
    color: #141414;
  }

  a:hover {
    color: white;
  }
}
