.searchField {
  display: flex;
  justify-content: flex-end;

  input {
    border: none;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 0 #ccc;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    transition: box-shadow 0.3s;
    width: 100%;

    &:focus {
      box-shadow: 0 3px 0 #ccc;
    }

    + label {
      display: none;
    }
  }

  label {
    @include media-breakpoint-up(md) {
      flex: 1 60%;
    }
  }

  .icon {
    width: 2rem;
  }
}
