.container {
  position: relative;
}

.trigger {
  cursor: pointer;
}

.popup {
  background: var(--background-color);
  color: var(--default-color);
  cursor: default;
  min-width: 144px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(100% + 8px);
  z-index: 100;

  ul {
    margin-bottom: 0;

    li {
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.bordered {
    @include font-size(1.6rem);

    border: 2px solid #000;
    padding: 2.4rem;

    ul li {
      margin-bottom: 1.6rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.tiny {
    @include font-size(1.4rem);

    box-shadow: 0 4px 60px rgb(0 0 0 / 10%);
    padding: 1rem;

    ul li {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.horizontalAnchorCenter {
    right: 0;

    @include media-breakpoint-up(md) {
      left: 50%;
      right: auto;
      transform: translateX(-50%);
    }
  }

  &.horizontalAnchorRight {
    right: 0;
  }

  .topBorderItem {
    border-top: 2px solid;
    padding-top: 1em;
  }

  a:link,
  :global(.link) {
    border: none;
    white-space: nowrap;

    &:hover {
      .icon img {
        filter: invert(0);
      }
    }
  }

  .icon {
    display: inline-block;
    width: 3.6rem;

    img {
      display: inline-block;
      filter: invert(1);
      max-height: 2rem;
      max-width: 2rem;
      transition: filter 0.3s;
      vertical-align: middle;
    }
  }
}

// TODO: animation
// .popup {
//  opacity: 1;
//  transition: opacity 0.3s;
//  z-index: 1;
//  &.visible {
//    opacity: 0;
//    transition: opacity 0.3s, z-index 0s 0.3s;
//    z-index: -1;
//  }
// }
