.FigureBubbleMenu {
  background: #000;
  display: flex;
  flex-direction: row;
  align-items: center;

  .bubbleMenuButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    opacity: 0.5;
    padding: 1rem;

    img {
      display: block;
    }
  }

  .bubbleMenuButtonActive {
    opacity: 1;
  }

  .delimiter {
    background: #fff;
    opacity: 0.5;
    display: inline-block;
    height: 1.4em;
    margin: 0 0.2em;
    vertical-align: text-bottom;
    width: 1px;
  }
}
