---
import { Confirmed } from '../../components/Nav/Confirmed'

const token = Astro.params.token?.toString() || ''
---
<html>
<head><title>discours.io</title></head>
<body>
  <Confirmed token={token} />
</body>
</html>
